<ion-header-component [headerTitle]="HEADER_TITLE"> </ion-header-component>
<ion-content>
  <ion-text>
    <h1>Coworking artisique et culturel</h1>
  </ion-text>
  <p>
    Du lundi au vendredi de 10h à 13h. Espace de travail à destination
    d'artistes, freelances, associations ou compagnies pour leurs projets
    artistiques, réunions, démarches administratives et développement culturel.
    Forfait unique à 5€ pour la matinée. Thé et café en libre service.
  </p>
  <ion-card> cf formulaire 197box </ion-card>
</ion-content>
