<ion-header-component [headerTitle]="HEADER_TITLE"> </ion-header-component>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text>
          <h1>Coworking artistique et culturel</h1>
        </ion-text>
        <p>
          Du lundi au vendredi de 10h à 13h. Espace de travail à destination
          d'artistes, freelances, associations ou compagnies pour leurs projets
          artistiques, réunions, démarches administratives et développement
          culturel. Forfait unique à 5€ par personne pour la matinée.<br />
          Places limitées.<br />
          Thé et café en libre service.
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-md="6" offset-md="3">
        <ion-card>
          <ion-card-content>
            <!-- Loader -->
            <loader *ngIf="isLoading"></loader>
            <!-- Message fail -->
            <div *ngIf="!isLoading && isFormFailed" class="message-sent--fail">
              <p>Votre demande n'a pas pu être envoyée. Veuillez réessayer.</p>
              <div class="btn__container">
                <ion-button (click)="onReload()">{{RELOAD}}</ion-button>
              </div>
            </div>
            <!-- Message success -->
            <div *ngIf="!isLoading && isFormSent" class="message-sent--success">
              <p>Merci, votre réservation a bien été envoyée.</p>
              <div class="btn__container">
                <ion-button (click)="onNavigateHome()"
                  >{{HOME_BTN_TEXT}}</ion-button
                >
              </div>
            </div>

            <!-- Contact Form -->
            <form
              *ngIf="!isLoading && !isFormSent && !isFormFailed"
              class="form"
              [formGroup]="coworkingForm"
              (ngSubmit)="onSubmit()"
            >
              <ion-list>
                <!-- People count -->
                <div class="form-control radio-container">
                  <ion-item>
                    <ion-label>Personne(s)</ion-label>
                    <ion-select
                      formControlName="personsNumber"
                      interface="popover"
                      (ionChange)="onSelectChange($event)"
                    >
                      <ion-select-option
                        *ngFor="let number of getCount(maxPersonsAllowed); let i = index"
                        [value]="i + 1"
                        >{{i + 1}}</ion-select-option
                      >
                    </ion-select>
                  </ion-item>
                </div>

                <!-- Booking Date -->
                <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Sélectionnez une/des date(s) :</mat-label>
                    <mat-chip-list
                      #chipList
                      aria-label="Choisir une date"
                      (click)="picker.open()"
                    >
                      <mat-chip
                        *ngFor="let value of model"
                        [selectable]="false"
                        [removable]="true"
                        (removed)="remove(value)"
                      >
                        {{ value | date }}
                        <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                      </mat-chip>
                      <input
                        matInput
                        placeholder="Choisir une date"
                        [value]="resetModel"
                        [matDatepicker]="picker"
                        [min]="minDateFilter"
                        [matDatepickerFilter]="dateFilter"
                        [matChipInputFor]="chipList"
                        (dateChange)="dateChanged($event)"
                        required
                        hidden
                      />
                    </mat-chip-list>
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker
                      #picker
                      [disabled]="coworkingForm.get('personsNumber').invalid"
                      [startAt]="init"
                      [dateClass]="dateClass"
                    ></mat-datepicker>
                  </mat-form-field>
                </div>

                <!-- Name -->
                <ion-item>
                  <ion-label position="floating">Nom</ion-label>
                  <ion-input
                    type="text"
                    name="name"
                    formControlName="name"
                    required
                  ></ion-input>
                </ion-item>
                <p
                  class="error-message"
                  [ngClass]="
                coworkingForm.get('name').invalid &&
      coworkingForm.get('name').touched
      ? 'show-error'
      : ''
      "
                >
                  Veuillez renseigner votre nom
                </p>

                <!-- Phone -->
                <ion-item>
                  <ion-label position="floating">Téléphone</ion-label>
                  <ion-input
                    type="text"
                    name="phone"
                    formControlName="phone"
                    required
                  ></ion-input>
                </ion-item>
                <p
                  class="error-message"
                  [ngClass]="
    coworkingForm.get('phone').invalid &&
    coworkingForm.get('phone').touched
    ? 'show-error'
    : ''"
                >
                  Veuillez renseigner un numéro de téléphone
                </p>

                <!-- Email -->
                <ion-item>
                  <ion-label position="floating">E-mail</ion-label>
                  <ion-input
                    type="email"
                    name="email"
                    formControlName="email"
                    required
                  ></ion-input>
                </ion-item>
                <p
                  class="error-message"
                  [ngClass]="
                coworkingForm.get('email').invalid &&
    coworkingForm.get('email').touched
    ? 'show-error'
    : ''
    "
                >
                  Veuillez renseigner votre email
                </p>

                <!-- Total Price -->
                <p class="text-center price">Total: {{ totalPrice }}€</p>

                <!-- Submit button -->
                <div class="btn__container">
                  <ion-button
                    class="ion-margin-vertical"
                    type="submit"
                    color="primary"
                    [disabled]="coworkingForm.invalid || totalPrice === 0 || coworkingForm.get('bookingDateList').value.length === 0"
                  >
                    {{VALIDATE_BUTTON_TEXT}}
                  </ion-button>
                </div>
              </ion-list>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
