@import '../../../styles/tools/variables';
@import '../../../styles/tools/mixins';

// Description
.description-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1rem auto 0;
}

.description-item--icon {
  width: 20px;
  height: 20px;
  margin: 0 1rem 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.description-item--content {
  flex: 1;
}

// CALENDAR
.calendar {
  margin: 1rem 0 0;
}

// CREDIT CARD
.credit-card__label {
  margin: 2rem 0 0;
}

.credit-card__input {
  padding: 0 0 0 1rem;
}

// BUTTON CONTAINER
.btn__container {
  &--flex {
    display: flex;
    justify-content: center;
  }
  &--block {
    display: block;
  }
  &--submit {
    margin: 3rem 0 1rem;
  }
}
