.error-message {
  margin: 0 !important;
  padding: 0 0 0 1rem;
  font-size: 0 !important;
  color: var(--ion-color-danger);
  transition: 0.2s ease-in;

  &.show-error {
    font-size: 75% !important;
  }
}
