<h1>Tchai à emporter !</h1>
<div class="take-away__content">
  <p>Bonjour !</p>
  <p>
    Sur ce second temps de confinement, La Clé du Quai – le Tchaï vous propose
    sa spécialité à emporter : un délicieux Chaï au lait végétal et aux épices.
  </p>
  <p>
    Vous le connaissez déjà bien… Et s’il vous manque, à vous de venir le
    chercher sur place – 49 rue du Mirail – le mardi ou le jeudi, entre 16h30 et
    18h30.
  </p>
  <p>
    Disponible aux formats que vous connaissez - petit (20cl) ou grand (40cl) -
    ou 1 litre pour avoir un petit stock pour le matin ou le goûter.
  </p>
  <p>
    Attention, pour le format d’un litre, commandez ! Pour être sûr d’avoir
    votre dose! Vous pouvez amener votre propre contenant. Sinon, nous vous en
    proposons avec une consigne de 3€ (bouteille d’1L).
  </p>
  <p>Ça se congèle aussi très bien.</p>

  <p>Tarifs :</p>
  <ul>
    <li>
      - Un petit Chaï à emporter (20cl) :
      <span class="color-primary">2,50€</span>
    </li>
    <li>
      - Un grand Chaï à emporter (40cl) :
      <span class="color-primary">4,50€</span>
    </li>
    <li>
      - Le litre de Chaï à emporter (1L, à commander) :
      <span class="color-primary">8€</span>
    </li>
  </ul>
  <button mat-flat-button color="primary" (click)="onNavigateToTchai()">
    Passer commande
  </button>
</div>

<chai-take-away></chai-take-away>