@import '../../../styles/tools/variables';
@import '../../../styles/tools/mixins';

h1 {
  padding: 1rem;
  text-align: center;
  background: $color-primary;
  color: $white;
  margin: 0;
  font: 2rem $fontOswald;

  @include screen-sm {
    padding: 1rem;
    font: 3.5rem $fontOswald;
  }
}

.take-away__content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  max-width: $screen-sm;
  margin: 0 auto;
  padding: 1rem;

  button {
    margin: 1rem auto;
  }
}
