<mat-spinner class="spinner" *ngIf="isLoading"></mat-spinner>
<div *ngIf="memberError">
  <p>Impossible de récupérer les données de l'adhérent</p>
  <button mat-button color="warn" (click)="onClose()">Fermer</button>
</div>
<div *ngIf="showDialog">
  <h1 mat-dialog-title>{{ member.firstName }} {{ member.lastName }}</h1>
  <div mat-dialog-content>
    <div *ngIf="checkList.length" class="check-tab">
      <form>
        <p class="check-tab__title">Chèques ({{ checkList.length }}):</p>
        <div
          *ngFor="
            let check of checkForm.controls;
            let i = index;
            let even = even;
            let odd = odd
          "
          [ngClass]="{ odd: odd, even: even }"
          class="check-row"
        >
          <ng-container [formGroup]="check">
            <div class="check-row__top">
              <p class="check-row__amount">{{ checkList[i].amount }} €</p>
              <div class="check-row__deposited">
                <mat-label>Encaissé ?</mat-label>
                <mat-checkbox
                  formControlName="depositMade"
                  [checked]="checkList[i].depositMade"
                  (change)="onDepositMade(i, $event.checked)"
                ></mat-checkbox>
              </div>
            </div>
            <div *ngIf="checkList[i].depositMade" class="check-row__date">
              <mat-form-field appearance="fill">
                <mat-label>Date d'encaissement :</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="depositDate"
                />
                <mat-datepicker-toggle matSuffix [for]="picker">
                </mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>
          </ng-container>
        </div>
      </form>
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button color="warn" (click)="onCancel()">Annuler</button>
    <button
      mat-button
      color="accent"
      [mat-dialog-close]="{ member: member, action: CONFIRM }"
      (click)="onSubmit()"
    >
      Valider
    </button>
  </div>
</div>
