@import '../../../../styles/tools/variables';
@import '../../../../styles/tools/mixins';

svg {
  width: 100%;
  height: 100%;

  &.secondary {
    fill: $color-secondary;
  }
  &.secondary-light {
    fill: $color-secondary-light;
  }
  &.secondary-dark {
    fill: $color-secondary-dark;
  }
}
