<ion-grid>
	<ion-row *ngIf="isLoading">
		<ion-col>
			<!-- Loader -->
			<ion-spinner color="primary"></ion-spinner>
		</ion-col>
	</ion-row>

	<!-- <p *ngIf="homeError">
    Impossible de récupérer les données, veuillez réessayer
  </p> -->

	<ion-row>
		<ion-col>
			<div *ngIf="!isLoading">
				<h2>Accueil / Home Page</h2>
			</div>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<!-- NEWS -->
			<div class="news__label">
				<h2>Nouveautés</h2>
				<span class="news__label__line"></span>
			</div>
			<ul class="data-table__container">
				<li class="data-table__item data-table__item__header">
					<div class="first-column"></div>
					<div>Nouveauté</div>
					<div>Lien</div>
					<div></div>
				</li>

				<!-- No results -->
				<li
					class="data-table__item data-table__item-no-result"
					*ngIf="!currentNewsData.length"
				>
					No results...
				</li>

				<!-- Table body -->
				<li
					class="data-table__item"
					[ngClass]="{ odd: odd, even: even }"
					*ngFor="
						let news of currentNewsData;
						let even = even;
						let odd = odd;
						let i = index
					"
				>
					<div class="first-column">{{ i + 1 }}</div>
					<div>{{ news.label }}</div>
					<div>{{ news.link }}</div>
					<div>
						<ion-button (click)="onOpenNewsManager(news, i)">
							<ion-icon name="create-outline"></ion-icon>
						</ion-button>
					</div>
				</li>
			</ul>
		</ion-col>
	</ion-row>
	<!-- News Form -->
	<ion-row>
		<ion-col>
			<ion-button color="primary" (click)="onOpenCreateNewsDialog()"
				>Ajouter une news</ion-button
			>
		</ion-col>
	</ion-row>
</ion-grid>
