<div class="ion-page">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title
        >{{ course.name }} {{ course.day }} {{ course.time }}</ion-title
      >
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" *ngIf="!isLoading">
    <form
      class="member-edition-form"
      [formGroup]="courseEditionForm"
      (ngSubmit)="onSubmit()"
    >
      <!-- NAME -->
      <ion-item>
        <ion-label position="floating">Nom</ion-label>
        <ion-input
          type="text"
          name="name"
          formControlName="name"
          required
        ></ion-input>
      </ion-item>

      <!-- TIME -->
      <ion-item>
        <ion-label position="floating">Heure</ion-label>
        <ion-input
          type="text"
          name="time"
          formControlName="time"
          required
        ></ion-input>
      </ion-item>

      <!-- DAY -->
      <ion-item>
        <ion-label position="floating">Jour</ion-label>
        <ion-input
          type="text"
          name="day"
          formControlName="day"
          required
        ></ion-input>
      </ion-item>

      <!-- LEVEL -->
      <ion-item>
        <ion-label position="floating">Niveau</ion-label>
        <ion-input
          type="text"
          name="level"
          formControlName="level"
          required
        ></ion-input>
      </ion-item>

      <!-- PROF -->
      <ion-item>
        <ion-label position="floating">Prof</ion-label>
        <ion-input
          type="text"
          name="prof"
          formControlName="professor"
          required
        ></ion-input>
      </ion-item>

      <!-- POSITION -->
      <ion-item>
        <ion-label position="floating">Position</ion-label>
        <ion-input
          min="1"
          type="number"
          name="position"
          formControlName="position"
          required
        ></ion-input>
      </ion-item>

      <!-- MAX CAPACITY -->
      <ion-item>
        <ion-label position="floating">Capacité Max</ion-label>
        <ion-input
          min="1"
          type="number"
          name="maxCapacity"
          formControlName="maxCapacity"
          required
        ></ion-input>
      </ion-item>

      <!-- ATTENDEES COUNT -->
      <ion-item>
        <ion-label position="floating">Nombre d'élèves</ion-label>
        <ion-input
          min="0"
          type="number"
          name="attendeesCount"
          formControlName="attendeesCount"
          required
        ></ion-input>
      </ion-item>

      <!-- WAITING LIST -->
      <ion-item>
        <ion-label position="floating">Liste d'attente</ion-label>
        <ion-input
          type="number"
          name="waitingList"
          formControlName="waitingList"
          required
        ></ion-input>
      </ion-item>
    </form>
  </ion-content>

  <!-- CTAs -->
  <div class="ion-padding btn__container">
    <!-- <ion-button
      class="btn--delete"
      color="danger"
      (click)="onOpenDeleteModal()"
    >
      Supprimer
    </ion-button> -->
    <ion-button color="warning" (click)="onCancel()">Annuler</ion-button>
    <ion-button
      [disabled]="courseEditionForm.invalid"
      color="primary"
      (click)="onSubmit()"
    >
      Modifier
    </ion-button>
  </div>
</div>
