.message-sent--success,
.message-sent--fail {
  text-align: center;
}

.info__container {
  margin: 2rem auto 1rem;
  text-align: center;
}

.btn__container {
  display: flex;
  justify-content: center;
}
