<ion-header-component [headerTitle]="HEADER_TITLE"> </ion-header-component>

<ion-content>
  <ion-grid class="ion-no-padding">
    <!-- TITLE -->
    <ion-row>
      <ion-col>
        <squared-shapes-svg
          [title]="TITLE"
          class="squared-shapes"
        ></squared-shapes-svg>
      </ion-col>
    </ion-row>

    <!-- COURS WORKSHOP CARDS -->
    <ion-row
      class="
        ion-padding-vertical ion-margin-vertical ion-justify-content-center
      "
    >
      <ion-col class="cours-card" size="12" size-md="4">
        <!-- TRIANGLES -->
        <triangle-blue-svg
          class="icon-triangle-blue"
          [fill]="'primary-light'"
        ></triangle-blue-svg>
        <triangle-yellow-svg
          class="icon-triangle-yellow"
          [fill]="'secondary-light'"
        ></triangle-yellow-svg>

        <!-- COURS CARD -->
        <ion-card class="ion-card" [routerLink]="['/lcdq/cours-stages/cours']">
          <!-- // Inner card // -->
          <div class="card__img__container single-image">
            <img class="card__img" alt="jambes" src="./assets/img/legs.jpg" />
          </div>
          <ion-card-header>
            <ion-card-title class="ion-text-center ion-card-title"
              >Cours</ion-card-title
            >
          </ion-card-header>
          <!-- <ion-card class="inner-card">
						<ion-card-header>
							<ion-card-title class="ion-text-center ion-card-title"
								>Informations à venir</ion-card-title
							>
						</ion-card-header>
					</ion-card> -->
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-card class="ion-card">
          <div class="card__img__container single-image">
            <img
              class="card__img"
              alt="pieds"
              src="./assets/img/barefoot.jpg"
            />
          </div>
          <ion-card-header>
            <ion-card-title class="ion-text-center ion-card-title">
              Stages</ion-card-title
            >
          </ion-card-header>
          <!-- <ion-card-content> -->
          <!-- Les stages Pour ceux qui n'ont pas la possibilité de suivre les
            cours hebdomadaires de l'association ou pour les élèves désireux
            d'approfondir le travail fait en cours, l'association propose des
            stages tous les mois. Les thématiques des stages sont en relation
            les unes avec les autres, dans une logique d'évolution. Dates des
            stages pour la saison 2020/2021 : Dimanche 8 Novembre / 14h-17h /
            Danse-théâtre : Poésie et intensité du corps. 35€. Par la suite : 5
            décembre - 16 janvier - 6 février - 6 mars - 17 avril - 15 mai. Le
            contenu précis de ces prochains stages sera communiqué
            prochainement. Inscriptions sur place / au 06.88.02.81.99 / ou par
            mail : lacleduquai@gmail.com -->
          <!-- </ion-card-content> -->
          <ion-card class="inner-card">
            <ion-card-header>
              <ion-card-title class="ion-text-center ion-card-title"
                >Informations à venir</ion-card-title
              >
              <!-- <ion-card-subtitle class="ion-text-center ion-card-title"
                >A venir</ion-card-subtitle
              > -->
            </ion-card-header>
          </ion-card>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Activities -->
    <ion-row class="ion-justify-content-center activities__container">
      <ion-col
        size="12"
        size-sm="6"
        size-md="4"
        size-lg="3"
        offset-md="0"
        class="ion-col activity"
      >
        <ion-card>
          <ion-card-header>
            <ion-card-title> Théâtre </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="spacer-horizontal spacer-horizontal--primary">
              <span></span>
            </div>
            Voix, corps, choeur, spontanéité, lâcher-prise... Autant de notions
            qui seront explorées dans ces cours, où la justesse de la sensation
            et de l'émotion seront toujours en jeu. La taille du groupe est
            volontairement réduite pour un confort de travail optimal (12
            personnes par cours). Selon vos attentes et votre niveau, nous vous
            orienterons vers le cours qui vous correspond le plus.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col
        size="12"
        size-sm="6"
        size-md="4"
        size-lg="3"
        offset-md="0"
        class="ion-col activity"
      >
        <ion-card>
          <ion-card-header>
            <ion-card-title> Danse-Théâtre </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="spacer-horizontal spacer-horizontal--primary">
              <span></span>
            </div>
            Cette pratique a été mise en avant par des artistes tels que Pina
            Bausch, Keersmaeker ou Jan Lauwers, et peut prendre des formes très
            variées. Entre travail technique (gestion du poids, contact, voix,
            mémorisation...) et improvisations seul ou en groupe, nous
            rechercherons l'émotion à partir de différents états de corps
            (détente, tension...) sans jamais oublier d'être dans l'instant pour
            faire place à l'immédiateté.
          </ion-card-content></ion-card
        >
      </ion-col>
      <ion-col
        size="12"
        size-sm="6"
        size-md="4"
        size-lg="3"
        offset-md="0"
        class="ion-col activity"
      >
        <ion-card>
          <ion-card-header>
            <ion-card-title> Danse Contemporaine </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="spacer-horizontal spacer-horizontal--primary">
              <span></span>
            </div>
            Ces ateliers chorégraphiques sont avant tout un lieu
            d'expérimentation de différentes qualités de mouvement et techniques
            contemporaines. Conscience du centre et de la périphérie, rapport au
            sol,dissociation, écoute de soi et de l'autre, développement de
            l'imaginaire sont quelques-uns des outils nécessaires au déploiement
            de nos sens et de notre sensibilité afin de permettre une expression
            du corps la plus riche possible.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
