<ion-grid>
	<!-- Loader -->
	<ion-row *ngIf="isLoading">
		<ion-col>
			<ion-spinner color="primary"></ion-spinner>
		</ion-col>
	</ion-row>

	<!-- <p *ngIf="memberError">
    Impossible de récupérer les données, veuillez réessayer
  </p> -->

	<!-- TITLE -->
	<ion-row *ngIf="!isLoading">
		<ion-col>
			<div>
				<h2 class="ion-text-center">Inscriptions Cours 2020/2021</h2>
			</div>
		</ion-col>
	</ion-row>

	<ion-row *ngIf="!isLoading">
		<ion-col>
			<div class="filter__container">
				<ion-button color="secondary" (click)="onResetFilters()">
					Réinitialiser
				</ion-button>
				<filter-molecule
					*ngFor="let filter of filterOptions"
					[selectLabel]="filter.filterLabel"
					[filterOptions]="filter.values"
					[select]="matSelect"
					(selectedFilterOption)="onSelectedOption(filter.filterName, $event)"
				>
				</filter-molecule>
			</div>
		</ion-col>
	</ion-row>
	<ion-row *ngIf="!isLoading">
		<ion-col>
			<copy-to-clipboard-molecule
				[list]="emailList"
				(copySuccessMessage)="onCopyToClipBoard()"
			></copy-to-clipboard-molecule>
		</ion-col>
	</ion-row>
	<ion-row *ngIf="!isLoading">
		<ion-col>
			<ul class="data-table__container">
				<li class="data-table__item data-table__item__header">
					<div class="first-column"></div>
					<div>Nom</div>
					<div>Prénom</div>
					<div>Téléphone</div>
					<div>Email</div>
					<div>Cours</div>
					<div>Moyen de paiement</div>
					<div>Réglement reçu</div>
					<div>Montant du réglement</div>
					<div>Encaissement chèques</div>
					<div>Remboursement</div>
					<div>Inscrit 2019/2020</div>
					<div>Cours 2019/2020</div>
					<div>Extra info</div>
					<div></div>
				</li>

				<li
					class="data-table__item data-table__item-no-result"
					*ngIf="!currentMembersData.length"
				>
					No results...
				</li>
				<li
					class="data-table__item"
					[ngClass]="{ odd: odd, even: even }"
					*ngFor="
						let member of currentMembersData;
						let even = even;
						let odd = odd;
						let i = index
					"
				>
					<div class="first-column">{{ i + 1 }}</div>
					<div>{{ member.lastName }}</div>
					<div>{{ member.firstName }}</div>
					<div>{{ member.phone }}</div>
					<div>{{ member.email }}</div>
					<div class="data-table__item-course">
						<span *ngFor="let course of member.courses; let last = last">
							{{ course }}
							{{ last ? '' : ' / ' }}
						</span>
					</div>
					<div>{{ member.paymentMethod }}</div>
					<div>
						<ion-button
							size="small"
							[color]="member.paymentReceived ? 'primary' : 'secondary'"
							(click)="onOpenPaymentReceived(member)"
						>
							{{ member.paymentReceived ? 'Oui' : 'Non' }}
						</ion-button>
					</div>
					<div>{{ member.paymentAmount ? member.paymentAmount : '-' }}</div>
					<div>
						<div
							*ngIf="
								member.paymentMethod === paymentMethods[1];
								else noContentBlock
							"
						>
							<mat-checkbox
								*ngFor="let check of member.checks"
								[checked]="check.depositMade"
								disabled
							></mat-checkbox>
						</div>
						<ng-template #noContentBlock><div>-</div></ng-template>
					</div>
					<div>-</div>
					<div [ngClass]="member.previouslyEnrolled ? 'primary-color' : ''">
						{{ member.previouslyEnrolled ? 'Oui' : 'Non' }}
					</div>
					<div>
						{{ member.previousCourseInfo ? member.previousCourseInfo : '-' }}
					</div>
					<div>
						{{ member.extraInfo ? member.extraInfo : '-' }}
					</div>
					<div>
						<ion-button (click)="onOpenMemberManager(member, i)">
							<ion-icon name="create-outline"></ion-icon>
						</ion-button>
					</div>
				</li>
			</ul>
		</ion-col>
	</ion-row>
</ion-grid>
