@import '../../../styles/tools/variables';
@import '../../../styles/tools/mixins';

:host {
  display: flex;
  width: 100%;
  padding: 1rem;
  text-align: center;
  background: $color-primary;
  color: $white;
  font-family: $fontPoppins;
}

.header-spacer {
  flex: 1;
}

h1 {
  flex: 2;
}
