<!-- News info -->
<div>
	<h2 class="color-primary" mat-dialog-title>Créer une nouvelle news !</h2>
	<div mat-dialog-content>
		<form
			class="news-edition-form"
			[formGroup]="newsCreateForm"
			(ngSubmit)="onSubmit()"
		>
			<ion-list>
				<!-- Label -->
				<ion-item>
					<ion-label position="floating">Nouveauté</ion-label>
					<ion-input
						type="text"
						name="label"
						formControlName="label"
						required
					></ion-input>
				</ion-item>
				<p
					class="error-message"
					[ngClass]="
						newsCreateForm.get('label').invalid &&
						newsCreateForm.get('label').touched
							? 'show-error'
							: ''
					"
				>
					Veuillez renseigner une nouveauté
				</p>

				<!-- link -->
				<ion-item>
					<ion-label position="floating">Lien</ion-label>
					<ion-input
						type="text"
						name="link"
						formControlName="link"
						required
					></ion-input>
				</ion-item>
				<p
					class="error-message"
					[ngClass]="
						newsCreateForm.get('link').invalid &&
						newsCreateForm.get('link').touched
							? 'show-error'
							: ''
					"
				>
					Veuillez renseigner un lien
				</p>
			</ion-list>
		</form>
	</div>

	<!-- CTAs -->
	<div mat-dialog-actions align="end">
		<ion-button color="warning" (click)="onCancel()">Annuler</ion-button>
		<ion-button
			[disabled]="newsCreateForm.invalid || newsCreateForm.pristine"
			color="primary"
			(click)="onSubmit()"
		>
			Créer
		</ion-button>
	</div>
</div>
