<h1>
  Formulaire de pré-inscription <br />
  La Clé Du Quai saison 2020/2021
</h1>
<mat-card class="form__container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div class="form__response" *ngIf="formSentSuccess">
    <p>Merci beaucoup ! Votre pré-inscription a bien été prise en compte.</p>
    <p>Elle sera finalisée au moment de votre règlement.</p>
    <ul>
      <li>- En CB : paiement au comptoir de l’association</li>
      <li>
        - Par chèque : à déposer au comptoir lors de votre prochain passage
      </li>
      <!-- <li>
        - Par virement : le RIB va vous être communiqué par mail très bientôt
      </li> -->
      <li>
        - En espèces : à déposer au comptoir lors de votre prochain passage
      </li>
    </ul>

    <p>A très bientôt !</p>
    <p>L’équipe de La Clé du Quai</p>
    <!-- <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="onReload()"
    >
      Terminé !
    </button> -->
  </div>
  <div *ngIf="formSentFail" class="form__response">
    <p>Désolé, une erreur s'est produite. Veuillez réessayer.</p>
    <button
      mat-raised-button
      type="button"
      color="primary"
      (click)="onReload()"
    >
      S'inscrire
    </button>
  </div>
  <form
    *ngIf="!isLoading && !hideForm"
    class="subscription-form"
    [formGroup]="subscriptionForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-section">
      <p class="form-section__title">Informations</p>
      <div class="form-section__content">
        <mat-form-field class="form-control">
          <mat-label>Nom</mat-label>
          <input
            matInput
            type="text"
            name="lastName"
            formControlName="lastName"
            required
          />
          <mat-error
            *ngIf="
              subscriptionForm.get('lastName').invalid &&
              subscriptionForm.touched
            "
            >Veuillez renseigner votre nom</mat-error
          >
        </mat-form-field>
        <mat-form-field class="form-control">
          <mat-label>Prénom</mat-label>
          <input
            matInput
            type="text"
            name="firstName"
            formControlName="firstName"
            required
          />
          <mat-error
            *ngIf="
              subscriptionForm.get('firstName').invalid &&
              subscriptionForm.touched
            "
            >Veuillez renseigner votre prénom</mat-error
          >
        </mat-form-field>
        <mat-form-field class="form-control">
          <mat-label>Téléphone</mat-label>
          <input
            matInput
            type="text"
            name="phone"
            formControlName="phone"
            required
          />
          <mat-error
            *ngIf="
              subscriptionForm.get('phone').invalid && subscriptionForm.touched
            "
            >Veuillez renseigner votre numéro de téléphone</mat-error
          >
        </mat-form-field>
        <mat-form-field class="form-control" class="form-control">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            name="email"
            formControlName="email"
            required
          />
          <mat-error
            *ngIf="
              subscriptionForm.get('email').invalid && subscriptionForm.touched
            "
            >Veuillez renseigner votre email</mat-error
          >
        </mat-form-field>
      </div>
    </div>
    <div class="form-section">
      <p class="form-section__title">Cours</p>
      <div class="form-section__content">
        <!-- <p>Choisissez un cours</p> -->
        <ul class="checkbox-list" formArrayName="courses">
          <li
            *ngFor="let course of coursesFormArray.controls; let i = index"
            class="checkbox-item"
          >
            <mat-checkbox [formControlName]="i">
              {{ courses[i].detail }}
            </mat-checkbox>
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="form-section">
      <p class="form-section__title">Stages</p>
      <div class="form-section__content">
        <p>Choisissez un stage</p>
        <ul class="checkbox-list" formArrayName="workshops">
          <li
            *ngFor="let workshop of workshopsFormArray.controls; let i = index"
            class="checkbox-item"
          >
            <mat-checkbox [formControlName]="i">
              {{ workshops[i].date }}
            </mat-checkbox>
          </li>
        </ul>
      </div>
    </div> -->
    <div class="form-section">
      <p class="form-section__title">Tarifs</p>
      <div class="form-section__content form-section__content-price">
        <mat-card>
          <p>Tarifs annuels pour les cours hebdomadaires :</p>
          <ul>
            <li>- 1 cours/ semaine (2h) / 350€</li>
            <li>- 2 cours/ semaine (2h + 2h) / 630€</li>
            <li>- Cie Amateur (2h30) / 400€</li>
          </ul>
        </mat-card>
        <p>
          Etiez-vous inscrit à un atelier auprès de La Clé du Quai l’année
          dernière ?
          {{ isPreviouslyEnrolled ? 'Oui' : 'Non' }}
          <mat-slide-toggle
            class="previous-course-toggle"
            formControlName="previouslyEnrolled"
            [checked]="isPreviouslyEnrolled"
            (change)="toggleShowDiscountText($event.checked)"
          ></mat-slide-toggle>
        </p>
        <div *ngIf="isPreviouslyEnrolled">
          <p class="color-primary italic">
            Vous bénéficiez, en tant qu’ancien élève, d’une réduction de 10% sur
            le montant de l’inscription aux cours hebdomadaires.
          </p>
          <p>A quel atelier étiez-vous inscrit l’année dernière ?</p>
          <mat-form-field class="previous-course-detail">
            <textarea
              matInput
              placeholder="Jour et heure de l'atelier"
              name="previousCouseInfo"
              formControlName="previousCourseInfo"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="form-section">
      <p class="form-section__title">Mode de paiement</p>
      <div class="form-section__content">
        <p>Quel est votre mode de paiement favori ?</p>
        <mat-radio-group
          class="radio-group"
          aria-label="Selectionnez un mode de paiement"
          formControlName="paymentMethod"
        >
          <mat-radio-button
            *ngFor="let paymentMethod of paymentMethods"
            class="radio-button"
            [value]="paymentMethod"
          >
            {{ paymentMethod }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <!-- <mat-checkbox
      class="checkbox__container"
      formControlName="newsletterSubscription"
      >Je souhaite m'inscrire à la newsletter de La Clé du Quai</mat-checkbox
    > -->
    <button
      mat-raised-button
      class="submit-btn"
      type="submit"
      color="primary"
      [disabled]="subscriptionForm.invalid"
    >
      Valider
    </button>
  </form>
</mat-card>
