<header [headerTitle]="HEADER_TITLE"></header>

<section class="main-section">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Take Away">
      <ng-template matTabContent>
        <take-away-admin-organism></take-away-admin-organism>
      </ng-template>
    </mat-tab>
    <mat-tab label="Cours">
      <ng-template matTabContent>
        <courses-organism></courses-organism>
      </ng-template>
    </mat-tab>
    <mat-tab label="Café Adhésions">
      <ng-template matTabContent>
        <cafe-subscriptions-organism></cafe-subscriptions-organism>
      </ng-template>
    </mat-tab>
    <mat-tab label="Stages"> </mat-tab>
  </mat-tab-group>
</section>
