<header [headerTitle]="HEADER_TITLE"></header>

<section class="main-section">
  <mat-tab-group>
    <mat-tab label="Cours">
      <ng-template matTabContent>
      <subscriptions-organism></subscriptions-organism>
      </ng-template>
    </mat-tab>
    <mat-tab label="Café Adhésions"> 
      <ng-template matTabContent>
      <cafe-subscriptions-organism></cafe-subscriptions-organism>
    </ng-template>
    </mat-tab>
    <mat-tab label="Stages"> </mat-tab>
  </mat-tab-group>
</section>
