<ul class="data-table__container">
  <li class="data-table__item data-table__item__header">
    <div class="first-column"></div>
    <div *ngFor="let cell of headerCells">
      {{ cell }}
    </div>
    <div></div>
  </li>

  <!-- No results case -->
  <li class="data-table__item data-table__item-no-result" *ngIf="!data.length">
    No results...
  </li>

  <!-- Results -->
  <li
    class="data-table__item"
    [ngClass]="{ odd: odd, even: even }"
    *ngFor="let dataItem of data; let even = even; let odd = odd; let i = index"
  >
    <div class="first-column">{{ i + 1 }}</div>

    <div *ngFor="let cell of bodyCells">
      {{ cell }}
    </div>

    <!-- <div>{{ dataItem.lastName }}</div>
    <div>{{ dataItem.firstName }}</div>
    <div>{{ dataItem.phone }}</div>
    <div>{{ dataItem.email }}</div>
    <div class="data-table__item-course">
      <span *ngFor="let course of dataItem.courses; let last = last">
        {{ course }}
        {{ last ? "" : " / " }}
      </span>
    </div>
    <div>{{ dataItem.paymentMethod }}</div>
    <div>
      <button
        mat-flat-button
        [color]="dataItem.paymentReceived ? 'primary' : 'accent'"
        (click)="onOpenPaymentReceived(dataItem)"
      >
        {{ dataItem.paymentReceived ? "Oui" : "Non" }}
      </button>
    </div>
    <div>{{ dataItem.paymentAmount ? dataItem.paymentAmount : "-" }}</div>
    <div>
      <div
        *ngIf="
          dataItem.paymentMethod === paymentMethods[1];
          else noContentBlock
        "
      >
        <mat-checkbox
          *ngFor="let check of dataItem.checks"
          [checked]="check.depositMade"
          disabled
        ></mat-checkbox>
      </div>
      <ng-template #noContentBlock><div>-</div></ng-template>
    </div>
    <div>-</div>
    <div [ngClass]="dataItem.previouslyEnrolled ? 'primary-color' : ''">
      {{ dataItem.previouslyEnrolled ? "Oui" : "Non" }}
    </div>
    <div>
      {{ dataItem.previousCourseInfo ? dataItem.previousCourseInfo : "-" }}
    </div>
    <div>
      {{ dataItem.extraInfo ? dataItem.extraInfo : "-" }}
    </div>
    <div *ngIf="editColumn">
      <button
        mat-flat-button
        type="button"
        color="primary"
        (click)="onEditClicked(dataItem, i)"
      >
        <mat-icon>create</mat-icon>
      </button>
    </div> -->
  </li>
</ul>
