<h1>Formulaire d'adhésion à l'association La Clé Du Quai</h1>
<mat-card class="form__container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div class="form__response" *ngIf="formSentSuccess">
    <p>Merci, votre adhésion à bien été prise en compte.</p>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="onReload()"
    >
      S'inscrire
    </button>
  </div>
  <div *ngIf="formSentFail" class="form__response">
    <p>Désolé, une erreur s'est produite. Veuillez réessayer.</p>
    <button
      mat-raised-button
      type="button"
      color="primary"
      (click)="onReload()"
    >
      Réessayer
    </button>
  </div>
  <form
    *ngIf="!isLoading && !hideForm"
    class="subscription-form"
    [formGroup]="subscriptionForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field class="form-control">
      <mat-label>Nom</mat-label>
      <input
        matInput
        type="text"
        name="lastName"
        formControlName="lastName"
        required
      />
      <mat-error
        *ngIf="
          subscriptionForm.get('lastName').invalid && subscriptionForm.touched
        "
        >Veuillez renseigner votre nom</mat-error
      >
    </mat-form-field>
    <mat-form-field class="form-control">
      <mat-label>Prénom</mat-label>
      <input
        matInput
        type="text"
        name="firstName"
        formControlName="firstName"
        required
      />
      <mat-error
        *ngIf="
          subscriptionForm.get('firstName').invalid && subscriptionForm.touched
        "
        >Veuillez renseigner votre prénom</mat-error
      >
    </mat-form-field>
    <mat-form-field class="form-control" class="form-control">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        name="email"
        formControlName="email"
        required
      />
      <mat-error
        *ngIf="
          subscriptionForm.get('email').invalid && subscriptionForm.touched
        "
        >Veuillez renseigner votre email</mat-error
      >
    </mat-form-field>
    <mat-checkbox
      class="checkbox__container"
      formControlName="newsletterSubscription"
      >Je souhaite m'inscrire à la newsletter de La Clé du Quai</mat-checkbox
    >
    <button
      mat-raised-button
      class="submit-btn"
      type="submit"
      color="primary"
      [disabled]="subscriptionForm.invalid"
    >
      Valider
    </button>
  </form>
</mat-card>
