<ion-header-component
  [headerTitle]="HEADER_TITLE"
  [showBackButton]="true"
  [defaultTarget]="'/lcdq/reservation-salles'"
></ion-header-component>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p>
          20m2 dédiés aux thérapies alternatives : kinésiologie, massage,
          ayurvéda... Chaleureuse et lumineuse, (elle peut aussi servir pour des
          répétitions ou réunions.V2 ?) Parquet. Pas d’équipement son.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
