<ion-header-component
  [headerTitle]="HEADER_TITLE"
  [showBackButton]="true"
  [defaultTarget]="'/lcdq/contact'"
>
</ion-header-component>

<ion-content>
  <ion-grid class="ion-no-padding">
    <!-- TITLE -->
    <ion-row>
      <ion-col>
        <squared-shapes-svg
          [title]="HEADER_TITLE"
          class="squared-shapes"
        ></squared-shapes-svg>
      </ion-col>
    </ion-row>
    
    <!-- TEXT CONTENT -->
    <ion-row>
      <ion-col size="12" size-md="6" offset-md="3" class="ion-padding">
        <p>
          <ion-text color="primary">Association LA CLE DU QUAI</ion-text>
          <br />
          Siège social : 49 rue du Mirail – 33000 Bordeaux
          <br />
          Contact : 06.62.12.63.35 / lacleduquai@gmail.com
          <br />
          Association Loi 1901
          <br />
          Numéro SIRET : 75163588900023
          <br />
          Président : Simon BOISSET
          <br />
          Directeur de la publication : Bela BALSA
          <br />
          <!-- Personne à contacter pour que l’adhérent puisse gérer ses données : le
          Directeur – 06.88.02.81.99 – developpement@lacleduquai.com + le droit
          de saisir la CNIL + droits d’accès, de modification, d’effacement et à
          la limitation de ces données. -->
        </p>
        <br />
        <ion-text color="primary">
          <p>Hébergeur</p>
        </ion-text>
        <p>
          Infomaniak Network SA
          <br />
          Rue Eugène-Marziano, 25
          <br />
          CH - 1227 Genève - Suisse
        </p>
        <br />

        <ion-text color="primary">
          <p>Développeur</p>
        </ion-text>
        <p>
          Tristan DELORIS
          <!-- <br /> -->
          <a
            href="https://tristandeloris.com"
            target="_blank"
            class="color-primary"
            >tristandeloris.com</a
          >
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
