<ion-header-component
	[headerTitle]="HEADER_TITLE"
	[showBackButton]="true"
	[defaultTarget]="'/lcdq/contact'"
></ion-header-component>

<ion-content>
	<ion-grid class="ion-no-padding">
		<!-- TITLE -->
		<ion-row>
			<ion-col>
				<squared-shapes-svg
					[title]="HEADER_TITLE"
					class="squared-shapes"
				></squared-shapes-svg>
			</ion-col>
		</ion-row>

		<!-- TEXT CONTENT -->
		<ion-row>
			<ion-col size="12" size-md="6" offset-md="3" class="ion-padding">
				<p>
					Association LA CLE DU QUAI Siège social : 49 rue du Mirail – 33000
					Bordeaux
					<br />
					Contact : 06.88.02.81.99 / lacleduquai@gmail.com
					<br />
					Association Loi 1901
					<br />
					Numéro SIRET : 75163588900023
					<br />
					Président : Simon BOISSET
					<br />
					Directeur de la publication : Bela BALSA
					<br />
					Personne à contacter pour que l’adhérent puisse gérer ses données : le
					Directeur – 06.88.02.81.99 – developpement@lacleduquai.com. + le droit
					de saisir la CNIL + droits d’accès, de modification, d’effacement et à
					la limitation de ces données.
				</p>
				<br />
				<p>
					Nom, dénomination ou raison sociale et adresse et numéro de téléphone
					de l&#39;hébergeur de son site (à définir dès qu’on valide notre
					choix).
				</p>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
