@import '../../../../styles/tools/variables';
@import '../../../../styles/tools/mixins';

.spinner {
  margin: auto;
}

.member-edition-form {
  display: flex;
  flex-flow: column;
}

.check-tab {
  border: 1px solid $color-primary-light;

  &__title {
    padding: 1rem;
    color: $white;
    font-weight: $fontWeightBold;
    background: $color-primary;
  }
}

.check-row {
  padding: 1rem;
  &.odd {
    background: $color-primary-light;
  }

  &.even {
    background: $white;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__amount {
  }

  &__deposited {
    mat-label {
      margin: 0 1rem 0 0;
    }
  }
}

// REFUNDS
.existing-refund__container {
  border-radius: 4px;
  background: $color-primary-light;
  padding: 1rem;
  margin: 1rem 0;
}

.existing-refund__title {
  text-align: center;
  font-weight: bold;
}

.existing-refund__header {
  display: flex;
  justify-content: space-between;
  p {
    font-weight: bold;
  }
}

.existing-refund__content {
  display: flex;
  justify-content: space-between;
}

.courses-container {
  margin: 0 0 1rem;
}
