<ion-header-component
  [headerTitle]="HEADER_TITLE"
  [showBackButton]="true"
  [defaultTarget]="'/lcdq/reservation-salles'"
>
</ion-header-component>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 class="title-xl">{{TITLE}}</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ul>
          <li
            *ngFor="let schedule of schedules; let even = even;
          let odd = odd;"
            [ngClass]="{ odd: odd, even: even }"
            class="schedule"
          >
            <div class="schedule__content">
              <h3 class="schedule__heading">{{schedule.heading}}</h3>
              <div
                class="schedule__list"
                *ngFor="let activity of schedule.activities"
              >
                <div
                  class="schedule__item"
                  *ngFor="let item of activity.properties; let i = index"
                >
                  <p *ngIf="i === 0" class="schedule__property">
                    <strong>{{item.value}}</strong>
                  </p>
                  <p *ngIf="i !== 0" class="schedule__property">
                    {{item.name}}
                  </p>
                  <p *ngIf="i !== 0" class="schedule__value">{{item.value}}</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </ion-col></ion-row
    >

    <!-- COURSES PRICES -->
    <ion-row>
      <ion-col size="12" size-md="6" offset-md="3">
        <div class="courses__table">
          <ul class="courses__table__list courses__table__header">
            <li class="courses__table__item">
              <div class="courses__table__detail">
                Tarifs des ateliers hebdomadaires
              </div>
            </li>
          </ul>
          <ul class="courses__table__list">
            <li class="courses__table__item">
              <div class="courses__table__detail">
                Cours de 2h / abonnement annuel danse et théâtre
              </div>
              <div class="courses__table__detail">350€ / an</div>
            </li>
            <li class="courses__table__item">
              <div class="courses__table__detail">
                2 ateliers / semaine (2h + 2h) - abonnement annuel danse et
                théâtre
              </div>
              <div class="courses__table__detail">630€ / an</div>
            </li>
            <li class="courses__table__item">
              <div class="courses__table__detail">
                Cie Amateur (2h30 + week-end + représentations)
              </div>
              <div class="courses__table__detail">430€ / an</div>
            </li>
            <li class="courses__table__item">
              <div class="courses__table__detail">
                Atelier danse contemporaine / à la carte
              </div>
              <div class="courses__table__detail">15€ / l'atelier</div>
            </li>
            <li class="courses__table__item">
              <div class="courses__table__detail">Réduction</div>
              <div class="courses__table__detail">
                -10% pour celles et ceux qui étaient inscrits l'année précédente
                (2020-2021)
              </div>
            </li>
          </ul>
        </div>
      </ion-col>
    </ion-row>

    <!-- CONTACT BUTTON -->
    <ion-row>
      <ion-col
        size="12"
        size-md="6"
        offset-md="3"
        class="
          ion-justify-content-center ion-margin-vertical ion-padding-vertical
        "
      >
        <organism-course-subscription-form></organism-course-subscription-form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
