@import '../../../../styles/tools/variables';
@import '../../../../styles/tools/mixins';

:host {
  display: block;
  background: $color-primary;
  padding: 1rem;
}

.heading {
  color: $color-secondary;
  text-align: center;
}

.form__container {
  max-width: $screen-xs;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__response {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  p {
    margin: 0 auto 2rem;
  }
}

.take-away-form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  max-width: 300px;
}

.form-control {
  width: 100%;
  max-width: 300px;
}

.radio-container {
  width: 100%;
  max-width: 300px;
  margin: 0 0 1rem;
  .radio-group {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 300px;

    .radio-button {
      margin: 0.5rem 0;
    }
  }
}

.submit-btn {
  margin: 1rem auto 2rem;
}

.slide-toggle__section {
  margin: 1rem 0;
}

.slide-toggle {
  margin: 0.5rem 0;
}
