<h2 class="heading">...ici !</h2>
<mat-card class="form__container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <!-- Response -->
  <div *ngIf="formSentSuccess" class="form__response">
    <p>Merci beaucoup !</p>
    <p>
      Vous pourrez venir récupérer votre commande le {{ pickUpDay }}
      {{ pickUpMonth }}, entre 16h30 et 18h30, au 49 rue du Mirail.
    </p>
    <p>
      D’ici là, portez-vous bien !<br />
      A très vite,<br />
      La Clé du Quai.
    </p>
  </div>
  <div *ngIf="formSentFail" class="form__response">
    <p>Désolé, une erreur s'est produite. Veuillez réessayer.</p>
    <button
      mat-raised-button
      type="button"
      color="primary"
      (click)="onReload()"
    >
      Passer commande
    </button>
  </div>
  <!-- Form -->
  <form
    *ngIf="!isLoading && !hideForm"
    class="take-away-form"
    [formGroup]="chaiTakeAwayForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field class="form-control">
      <mat-label>Nom</mat-label>
      <input
        matInput
        type="text"
        name="lastName"
        formControlName="lastName"
        required
      />
      <mat-error
        *ngIf="
          chaiTakeAwayForm.get('lastName').invalid && chaiTakeAwayForm.touched
        "
        >Veuillez renseigner votre nom</mat-error
      >
    </mat-form-field>
    <mat-form-field class="form-control">
      <mat-label>Prénom</mat-label>
      <input
        matInput
        type="text"
        name="firstName"
        formControlName="firstName"
        required
      />
      <mat-error
        *ngIf="
          chaiTakeAwayForm.get('firstName').invalid && chaiTakeAwayForm.touched
        "
        >Veuillez renseigner votre prénom</mat-error
      >
    </mat-form-field>
    <mat-form-field class="form-control">
      <mat-label>Téléphone</mat-label>
      <input
        matInput
        type="number"
        name="phone"
        formControlName="phone"
        required
      />
      <mat-error
        *ngIf="
          chaiTakeAwayForm.get('phone').invalid && chaiTakeAwayForm.touched
        "
        >Veuillez renseigner votre numéro de téléphone</mat-error
      >
    </mat-form-field>
    <p class="italic text-center font-sm">
      Vos informations seront effacées une fois la transaction réalisée.
    </p>
    <div class="form-control radio-container">
      <mat-label class="label">Quantité (par bouteille de 1 litre):</mat-label>
      <mat-radio-group
        class="radio-group"
        aria-label="Quantité"
        formControlName="quantity"
      >
        <mat-radio-button
          class="radio-button"
          *ngFor="let quantity of quantities; let i = index"
          [value]="i + 1"
          [checked]="i === 0"
          (change)="onQuantityChange($event)"
        >
          {{ quantity }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="form-control">
      <mat-form-field appearance="fill" class="form__calendar">
        <mat-label>Date de retrait :</mat-label>
        <input
          matInput
          [min]="minDateFilter"
          [max]="maxDateFilter"
          [matDatepickerFilter]="dateFilter"
          [matDatepicker]="picker"
          formControlName="pickUpDate"
          disabled
        />
        <mat-datepicker-toggle matSuffix [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
        <p class="font-sm">(entre 16h30 et 18h30)</p>
      </mat-form-field>
    </div>
    <div class="slide-toggle__section">
      <mat-label>J'ai mon propre contenant</mat-label>
      <mat-slide-toggle
        class="slide-toggle"
        formControlName="hasOwnContainer"
        [checked]="hasContainer"
        (change)="toggleHasContainer($event)"
        >{{ hasContainer ? 'Oui' : 'Non' }}</mat-slide-toggle
      >
    </div>
    <p class="text-center price">Total: {{ totalPrice }}€</p>
    <p class="text-center" *ngIf="!hasContainer">
      (dont {{ totalDeposit }}€ de consigne)
    </p>
    <p class="italic text-center font-sm">
      Le paiement se fait sur place, au moment de récupérer votre commande.
    </p>
    <button
      mat-flat-button
      class="submit-btn"
      type="submit"
      color="primary"
      [disabled]="chaiTakeAwayForm.invalid"
    >
      Commandez !
    </button>
  </form>
</mat-card>
