<ion-app>
  <ion-menu side="end" menuId="main" contentId="main">
    <ion-header>
      <ion-toolbar color="primary"> </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item
            *ngFor="let link of secondaryNavLinks"
            [routerLink]="link.link"
          >
            <ion-icon slot="start" [name]="link.icon"></ion-icon>
            <ion-label>{{ link.label }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
