<ion-header-component
	[headerTitle]="HEADER_TITLE"
	[showBackButton]="true"
	[defaultTarget]="'/lcdq/reservation-salles'"
></ion-header-component>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col>
				<h1 class="title-xl">{{TITLE}}</h1>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="12" size-md="6" offset-md="3">
				<ul class="description">
					<li class="description-item">
						<two-triangle-svg class="description-item--icon"></two-triangle-svg>
						<p class="description-item--content">
							Situé au sous-sol dans une jolie cave bordelaise voutée de 50m2
						</p>
					</li>
					<li class="description-item">
						<two-triangle-svg class="description-item--icon"></two-triangle-svg>
						<p class="description-item--content">
							Parquet souple, idéal pour la danse
						</p>
					</li>
					<li class="description-item">
						<two-triangle-svg class="description-item--icon"></two-triangle-svg>
						<p class="description-item--content">
							Equipé d'une sono - prise mini-jack / CD/ bluetooth
						</p>
					</li>
					<li class="description-item">
						<two-triangle-svg class="description-item--icon"></two-triangle-svg>
						<p class="description-item--content">
							Pas de réseau téléphonique ni internet
						</p>
					</li>
					<li class="description-item">
						<two-triangle-svg class="description-item--icon"></two-triangle-svg>
						<p class="description-item--content">
							5€ de l'heure pour vos répétitions
						</p>
					</li>
					<li class="description-item">
						<two-triangle-svg class="description-item--icon"></two-triangle-svg>
						<p class="description-item--content">
							15€ de l'heure pour vos répétitions
						</p>
					</li>
				</ul>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col
				size="12"
				size-md="6"
				offset-md="3"
				class="ion-justify-content-center ion-margin-vertical"
			>
				<ion-nav-link
					class="text-center"
					[routerLink]="'/lcdq/contact'"
					routerDirection="forward"
				>
					<ion-button size="small" expand="block" color="primary">
						Contactez nous
					</ion-button>
				</ion-nav-link>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
