<ion-header-component
  [headerTitle]="HEADER_TITLE"
  [showBackButton]="true"
  [defaultTarget]="'/lcdq/reservation-salles'"
></ion-header-component>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p>
          Situé au sous-sol dans une jolie cave bordelaise voutée de 50m2.
          Parquet souple, idéal pour la danse. Equipé d'une sono - prise
          mini-jack / CD/ bluetooth. Pas de réseau téléphonique ni internet.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
