@import '../../../styles/tools/variables';
@import '../../../styles/tools/mixins';

.heading {
  color: $color-secondary;
  text-align: center;
}

.form__container {
  // max-width: 360px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.form__response {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  p {
    margin: 0 auto 0.5rem;
  }
}

.take-away-form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  // max-width: 300px;
}

.form-control {
  width: 100%;
  // max-width: 300px;
}

.form__calendar {
  width: 100%;

  .mat-input-element {
    // changes the label color
    color: $color-primary;
  }

  mat-datepicker-toggle {
    // changes the calendar icon color
    color: $color-primary;
  }

  p {
    margin: 0.5rem 0;
  }
}

// QUANTITY
.quantity {
  &__container {
    width: 100%;
    // max-width: 300px;
    margin: 1rem 0;
    .label {
      display: block;
      margin: 0 0 0.5rem;
    }
  }
  &__form {
    display: flex;
    align-items: center;
    .input {
      text-align: center;
    }
  }
}

.slide-toggle {
  &__section {
    display: flex;
    flex-flow: column;
    margin: 0 0 1rem;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__input {
    margin: 0.5rem 0;
  }
}

.price {
  display: block;
  font-weight: bold;
  font-size: 1.1rem;
  border-bottom: 2px solid $color-primary;
  border-top: 2px solid $color-primary;
  padding: 0.5rem;
  color: $color-primary;
}

.submit-btn {
  margin: 1rem auto 2rem;
}
