<ion-header-component [headerTitle]="HEADER_TITLE"> </ion-header-component>
<ion-content>
  <ion-grid class="ion-grid">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-text color="primary">
          <h1 class="title-xl">{{HEADER_TITLE}}</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="main-content">
      <ion-col size="12" size-sm="6" offset-sm="3">
        <triangle-blue-svg
          class="icon-triangle-blue"
          [fill]="'primary-light'"
        ></triangle-blue-svg>
        <triangle-yellow-svg
          class="icon-triangle-yellow"
          [fill]="'secondary-light'"
        ></triangle-yellow-svg>
        <p>
          Fondée en 2010, La Clé Du Quai est une association qui a pour but de
          partager avec ses adhérents la passion du théâtre, de la danse-théâtre
          et de la danse contemporaine.
          <br />
          A l'origine, Côme Tanguy donnait des ateliers, stages et initiations
          portées sur la technique théâtrale et le studio était itinérant.
          <br />
          Par la suite, sa formation en danse contemporaine et sa rencontre avec
          Bela Balsa l'ont conduit à enrichir son propos en se tournant vers la
          danse-théâtre.
          <br />
          Cette nouvelle activité proposée par l'association séduit de
          nombreuses personnes et élargit le nombre d'adhérents.
          <br />
          En 2013, la Clé du Quai s'installe au 49 rue du Mirail, à Bordeaux où
          les adhérents bénéficient d'un studio destiné aux ateliers et aux
          projets de créations.<br />
          La Compagnie professionnelle Bela & Côme prend son essor.<br />
          Cette date marque également l'arrivée de nouveaux intervenants afin de
          mieux adapter les cours aux différents niveaux et envies des
          adhérents.
          <br />
          En Septembre 2017, La Clé du Quai reprend la gestion complète du Tchaï
          pour en faire un café associatif, dédié aux pratiques artistiques, au
          bien-être et aux rencontres !
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="6" offset-sm="3">
        <p>
          Cette saison 2020/2021, le bureau de l'association est constitué de:
        </p>
        <ul class="list">
          <li><span class="color-primary">Simon Boisset</span> : Président</li>
          <li>
            <span class="color-primary">Nine Bagnarosa</span> : Secrétaire
          </li>
          <li>
            <span class="color-primary">Cerise Rousseau</span> : Trésorière
          </li>
        </ul>
        <p>Accompagnée de notre belle équipe :</p>
        <ul class="list">
          <li>
            <span class="color-primary">Denis Blanc</span> : Responsable du café
            associatif
          </li>
          <li>
            <span class="color-primary">Bastien Roussière</span> : Service
          </li>
          <li>
            <span class="color-primary">Camille Sicre</span> : Chargée de
            Communication
          </li>
          <li>
            <span class="color-primary">Gabrielle Decourt-Mesa</span> : Service
            Civique
          </li>
          <li>
            <span class="color-primary">Bela Balsa</span> : Directrice
            artistique
          </li>
          <li>
            <span class="color-primary">Côme Tanguy</span> : Directeur
            pédagogique
          </li>
        </ul>
        <p>Et de nos intervenants en théâtre:</p>
        <br />
        <p class="color-primary">Jérôme Chambon et Julien Jamet</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
