<ion-header-component [headerTitle]="HEADER_TITLE"> </ion-header-component>
<ion-content>
  <ion-text>
    <h1>L'association</h1>
  </ion-text>
  <ion-text>
    <h2>Mettre en mouvement !</h2>
  </ion-text>
  <ion-text>
    <p>
      Fondée en 2010, La Clé Du Quai est une association qui a pour but de
      partager avec ses adhérents la passion du théâtre, de la danse-théâtre et
      de la danse contemporaine.
      <br />
      A l'origine, Côme Tanguy donnait des ateliers, stages et initiations
      portées sur la technique théâtrale et le studio était itinérant.
      <br />
      Par la suite, sa formation en danse contemporaine et sa rencontre avec
      Bela Balsa l'ont conduit à enrichir son propos en se tournant vers la
      danse-théâtre.
      <br />
      Cette nouvelle activité proposée par l'association séduit de nombreuses
      personnes et élargit le nombre d'adhérents.
      <br />
      En 2013, La Clé Du Quai obtient ses propres locaux rue du Mirail, au 49, à
      Bordeaux où les adhérents bénéficient d'un studio destiné aux ateliers et
      aux projets de créations.<br />
      Cette date marque également l'arrivée de nouveaux intervenants afin de
      mieux adapter les cours aux différents niveaux et envies des adhérents.

      <br />
      En Septembre 2017, La Clé du Quai reprend la gestion complète du Tchaï
      pour en faire un café associatif, dédié aux rencontres et aux pratiques
      artistiques et bien-être !
    </p>
  </ion-text>
  <ul>
    <p>
      Pour cette saison 2019/2020, le bureau de l'association est constituée de:
    </p>
    <li>Simon Boisset : Président.</li>
    <li>Nine Bagnarosa : Secrétaire.</li>
  </ul>
  Cerise Rousseau : Trésorière. Accompagnée de notre belle équipe : Denis Blanc
  : Responsable du café associatif. Bastien Roussière : Service. Camille Sicre :
  Communication. Maëlys Berton : Service Civique. Bela Balsa : Directrice
  artistique. Côme Tanguy : Directeur pédagogique.
</ion-content>
