<ion-header-component [headerTitle]="HEADER_TITLE"> </ion-header-component>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" offset-sm="3">
        <ion-text color="primary heading">
          <h1>Association La Clé Du Quai</h1>
        </ion-text>
        <p>
          Fondée en 2010, La Clé Du Quai est une association qui a pour but de
          partager avec ses adhérents la passion du théâtre, de la danse-théâtre
          et de la danse contemporaine.
          <br />
          A l'origine, Côme Tanguy donnait des ateliers, stages et initiations
          portées sur la technique théâtrale et le studio était itinérant.
          <br />
          Par la suite, sa formation en danse contemporaine et sa rencontre avec
          Bela Balsa l'ont conduit à enrichir son propos en se tournant vers la
          danse-théâtre.
          <br />
          Cette nouvelle activité proposée par l'association séduit de
          nombreuses personnes et élargit le nombre d'adhérents.
          <br />
          En 2013, la Clé du Quai s'installe au 49 rue du Mirail, à Bordeaux où
          les adhérents bénéficient d'un studio destiné aux ateliers et aux
          projets de créations.<br />
          La Compagnie professionnelle Bela & Côme prend son essor.<br />
          Cette date marque également l'arrivée de nouveaux intervenants afin de
          mieux adapter les cours aux différents niveaux et envies des
          adhérents.
          <br />
          En Septembre 2017, La Clé du Quai reprend la gestion complète du Tchaï
          pour en faire un café associatif, dédié aux pratiques artistiques, au
          bien-être et aux rencontres !
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="6" offset-sm="3">
        <p>
          Cette saison 2019/2020, le bureau de l'association est constitué de:
        </p>
        <ul class="list">
          <li>Simon Boisset : Président</li>
          <li>Nine Bagnarosa : Secrétaire</li>
          <li>Cerise Rousseau : Trésorière</li>
        </ul>
        <p>Accompagnée de notre belle équipe :</p>
        <ul class="list">
          <li>Denis Blanc : Responsable du café associatif</li>
          <li>Bastien Roussière : Service</li>
          <li>Maëlys Berton : Service Civique</li>
          <li>Bela Balsa : Directrice artistique</li>
          <li>Côme Tanguy : Directeur pédagogique</li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
