@import "../../../styles/tools/variables";
@import "../../../styles/tools/mixins";

h1 {
  padding: 1rem;
  text-align: center;
  background: $color-primary;
  color: $white;
  font-family: $fontPoppins;

  @include screen-sm {
    padding: 3rem;
  }
}

.form__container {
  max-width: $screen-sm;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 450px;
}

.form__response {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  p,
  ul {
    margin: 0 auto 2rem;
  }
}

.subscription-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto 1rem;

  &__title {
    width: 100%;
    padding: 0.5rem 0 0.5rem 1rem;
    background: $color-primary;
    color: $white;
  }

  &__content {
    padding: 0;
    display: flex;
    flex-flow: column;

    @include screen-sm {
      padding: 0 0 0 3rem;
    }

    &-price {
      @include screen-sm {
        padding: 0 3rem;
      }

      .previous-course-toggle {
        margin: 0 0 0 1rem;
      }
      .previous-course-detail {
        width: 100%;
        max-width: 300px;
      }
    }
  }
}

// PREVIOUSLY ENROLLED
.slide-toggle {
  &__section {
    display: flex;
    flex-flow: column;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0 1rem;
  }
}

// CTA
.submit-btn {
  margin: 1rem auto 2rem;
}
