<ion-grid>
  
  <!-- <p *ngIf="memberError">
    Impossible de récupérer les données, veuillez réessayer
  </p> -->

  <!-- TITLE -->
  <ion-row>
    <ion-col size="5">
      <ion-list>
        <ion-radio-group [value]="seasonEnum.TWENTY_ONE" class="display-flex">
          <ion-item *ngFor="let season of seasons">
            <ion-label>{{ season.label }}</ion-label>
            <ion-radio
              (ionFocus)="onSeasonSelected(season)"
              [value]="season.value"
            ></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-col>
    <ion-col size="7">
      <div class="title__container">
        <h2 class="ion-text-center">
          Inscriptions Cours
          <span class="color-primary">{{ selectedSeason }}</span>
        </h2>
      </div>
    </ion-col>
  </ion-row>

  <!-- Loader -->
  <ion-row *ngIf="isLoading">
    <ion-col class="ion-text-center spinner">
      <ion-spinner color="primary"></ion-spinner>
    </ion-col>
  </ion-row>

  <!-- FILTER -->
  <ion-row *ngIf="!isLoading">
    <ion-col>
      <div class="filter__container">
        <ion-button color="secondary" (click)="onResetFilters()">
          Réinitialiser
        </ion-button>
        <filter-molecule
          *ngFor="let filter of filterOptions"
          [selectLabel]="filter.filterLabel"
          [filterOptions]="filter.values"
          [select]="matSelect"
          (selectedFilterOption)="onSelectedOption(filter.filterName, $event)"
        >
        </filter-molecule>
      </div>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!isLoading">
    <ion-col>
      <copy-to-clipboard-molecule
        [list]="emailList"
        (copySuccessMessage)="onCopyToClipBoard()"
      >
      </copy-to-clipboard-molecule>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!isLoading">
    <ion-col>
      <ul class="data-table__container">
        <!-- TABLE HEADER -->
        <li class="data-table__item data-table__item__header">
          <div class="first-column"></div>
          <div></div>
          <div>Nom</div>
          <div>Prénom</div>
          <div>Téléphone</div>
          <div>Email</div>
          <div>Cours</div>
          <div>Moyen de paiement</div>
          <div>Réglement reçu</div>
          <div>Montant du réglement</div>
          <div>Encaissement chèques</div>
          <div>Remboursement</div>
          <div>Inscrit 2020/2021</div>
          <div>Cours 2020/2021</div>
          <div>Extra info</div>
          <div></div>
        </li>

        <!-- NO RESULTS -->
        <li
          class="data-table__item data-table__item-no-result"
          *ngIf="!currentMembersData.length"
        >
          No results...
        </li>

        <!-- DATA -->
        <li
          class="data-table__item"
          [ngClass]="{ odd: odd, even: even }"
          *ngFor="
            let member of currentMembersData;
            let even = even;
            let odd = odd;
            let i = index
          "
        >
          <div class="first-column">{{ i + 1 }}</div>
          <div>
            <ion-button (click)="onOpenCourseManagerModal(member, i)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </div>
          <div>{{ member.lastName }}</div>
          <div>{{ member.firstName }}</div>
          <div>{{ member.phone }}</div>
          <div>{{ member.email }}</div>
          <div class="data-table__item-course">
            <span *ngFor="let course of member.courses; let last = last">
              {{ course }}
              {{ last ? '' : ' / ' }}
            </span>
          </div>
          <div>{{ member.paymentMethod }}</div>
          <div>
            <ion-button
              size="small"
              [color]="member.paymentReceived ? 'primary' : 'secondary'"
              (click)="onOpenCoursePaymentReceivedModal(member, i)"
            >
              {{ member.paymentReceived ? 'Oui' : 'Non' }}
            </ion-button>
          </div>
          <div>{{ member.paymentAmount ? member.paymentAmount : '-' }}</div>
          <div>
            <div
              *ngIf="
                member.paymentMethod === paymentMethods[1];
                else noContentBlock
              "
            >
              <mat-checkbox
                *ngFor="let check of member.checks"
                [checked]="check.depositMade"
                disabled
              >
              </mat-checkbox>
            </div>
            <ng-template #noContentBlock>
              <div>-</div>
            </ng-template>
          </div>

          <!-- Refund -->
          <div>
            <ion-button
              [color]="member.totalRefund ? 'primary' : 'secondary'"
              (click)="onOpenCourseRefundModal(member, i)"
              >{{ member.totalRefund }}€</ion-button
            >
          </div>
          <div [ngClass]="member.previouslyEnrolled ? 'primary-color' : ''">
            {{ member.previouslyEnrolled ? 'Oui' : 'Non' }}
          </div>
          <div>
            {{ member.previousCourseInfo ? member.previousCourseInfo : '-' }}
          </div>
          <div>
            {{ member.extraInfo ? member.extraInfo : '-' }}
          </div>
          <div>
            <ion-button (click)="onOpenCourseManagerModal(member, i)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </div>
        </li>
      </ul>
    </ion-col>
  </ion-row>
</ion-grid>
