<ion-grid>
  <p *ngIf="courseError">
    Impossible de récupérer les données, veuillez réessayer
  </p>

  <!-- TITLE -->
  <ion-row>
    <ion-col>
      <div class="title__container">
        <h2 class="ion-text-center">Cours</h2>
      </div>
    </ion-col>
  </ion-row>

  <!-- Loader -->
  <ion-row *ngIf="isLoading">
    <ion-col class="ion-text-center spinner">
      <ion-spinner color="primary"></ion-spinner>
    </ion-col>
  </ion-row>

  <!-- COURSE LIST -->
  <ion-row *ngIf="!isLoading">
    <ion-col>
      <div class="course__label">
        <ion-text color="primary">
          <h3 class="ion-margin-vertical">Liste principale</h3>
        </ion-text>
      </div>

      <!-- TABLE -->
      <ul class="data-table__container">
        <!-- TABLE HEADER -->
        <li class="data-table__item data-table__item__header">
          <div class="first-column"></div>
          <div></div>
          <div>Nom</div>
          <div>Heure</div>
          <div>Jour</div>
          <div>Niveau</div>
          <div>Prof</div>
          <div>Position</div>
          <div>Nombre d'élèves</div>
          <div>Capacité max</div>
          <div></div>
        </li>

        <!-- NO RESULTS -->
        <li
          class="data-table__item data-table__item-no-result"
          *ngIf="!courseList.length"
        >
          No results...
        </li>

        <!-- DATA -->
        <li
          class="data-table__item"
          [ngClass]="{ odd: odd, even: even }"
          *ngFor="
            let course of courseList;
            let even = even;
            let odd = odd;
            let i = index
          "
        >
          <div class="first-column">{{ i + 1 }}</div>
          <div>
            <ion-button (click)="onOpenCourseManagerModal(course, i)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </div>
          <div>{{ course.name }}</div>
          <div>{{ course.time }}</div>
          <div>{{ course.day }}</div>
          <div>{{ course.level }}</div>
          <div>{{ course.professor }}</div>
          <div>{{ course.position }}</div>
          <div>{{ course.attendeesCount }}</div>
          <div>{{ course.maxAttendee }}</div>
          <div>
            <ion-button (click)="onOpenCourseManagerModal(course, i)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </div>
        </li>
      </ul>
    </ion-col>
  </ion-row>
</ion-grid>
