@import '../../../../styles/tools/variables';
@import '../../../../styles/tools/mixins';

.check-form {
  display: flex;
  flex-flow: column;
  max-width: 300px;
}

.btn-container {
  display: flex;
  .btn {
    margin: 0 1rem 0 0;
  }
}
