@import '../../../styles/tools/variables';
@import '../../../styles/tools/mixins';

// LOADER
.loader {
  display: block;
  margin: 3rem auto;
}

.logo-container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  animation: fadeInLogo 1s ease-in;
}

// TITLE AND LOGO
.title__container {
  position: relative;

  .triangle-blue--small {
    position: absolute;
    top: -250px;
    left: -20%;
    z-index: -1;
    width: 180px;
    height: 340px;

    @include screen-sm {
      top: -250px;
      left: 20%;
    }
  }
  .triangle-yellow--small {
    position: absolute;
    top: 50px;
    left: 60%;
    z-index: -1;
    width: 250px;
    height: 190px;

    @include screen-sm {
      top: 50px;
      left: 60%;
    }
  }
}

.main-title {
  font-family: $fontOswald;
  font-weight: bold;
  font-size: 2rem;
}

// WORD CAROUSSEL
.word-carousel--vertical {
  margin: 0;
  font-size: 36px;
  font-weight: 100;
  color: $color-gray;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  // animation: slideInTitle 1s ease-in;
  p {
    margin: 0 0 1rem;
    margin: 0;
  }

  div {
    overflow: hidden;
    position: relative;
    height: 65px;
    padding-top: 10px;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    .word-switch {
      animation: switch 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
      .word {
        display: block;
        text-align: center;
        font-family: $fontPoppins;
        color: $color-primary;
        font-weight: 700;
        padding: 0 10px;
        height: 45px;
        margin-top: 45px;
        font-size: 1.6rem;

        // @include screen-sm {
        //   font-size: inherit;
        // }
      }
    }
  }
}

@keyframes switch {
  0% {
    margin-top: -340px;
  }
  5% {
    margin-top: -280px;
  }
  25% {
    margin-top: -280px;
  }
  30% {
    margin-top: -100px;
  }
  50% {
    margin-top: -100px;
  }
  55% {
    margin-top: 80px;
  }
  75% {
    margin-top: 80px;
  }
  80% {
    margin-top: 260px;
  }
  99.99% {
    margin-top: 260px;
  }
  100% {
    margin-top: -340px;
  }
  // 0% {
  //   margin-top: -1020px;
  // }
  // 0.75% {
  //   margin-top: -930px;
  // }
  // 9.1% {
  //   margin-top: -930px;
  // }
  // 9.83% {
  //   margin-top: -840px;
  // }
  // 18.16% {
  //   margin-top: -840px;
  // }
  // 18.91% {
  //   margin-top: -750px;
  // }
  // 19.66% {
  //   margin-top: -750px;
  // }
  // 27.99% {
  //   margin-top: -660px;
  // }
  // 28.74% {
  //   margin-top: -660px;
  // }
  // 37.07% {
  //   margin-top: -570px;
  // }
  // 37.82% {
  //   margin-top: -570px;
  // }
  // 46.15% {
  //   margin-top: -480px;
  // }
  // 46.09% {
  //   margin-top: -480px;
  // }
  // 55.23% {
  //   margin-top: -390px;
  // }
  // 55.98% {
  //   margin-top: -390px;
  // }
  // 64.31% {
  //   margin-top: -300px;
  // }
  // 65.06% {
  //   margin-top: -300px;
  // }
  // 73.39% {
  //   margin-top: -210px;
  // }
  // 74.14% {
  //   margin-top: -210px;
  // }
  // 82.47% {
  //   margin-top: -120px;
  // }
  // 83.22% {
  //   margin-top: -120px;
  // }
  // 91.55% {
  //   margin-top: -30px;
  // }
  // 99.9% {
  //   margin-top: -30px;
  // }
  // 100% {
  //   margin-top: -1020px;
  // }
}

// @keyframes fadeInLogo {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

// @keyframes slideInTitle {
//   0% {
//     opacity: 0;
//     transform: translateY(-10%);
//   }
//   100% {
//     opacity: 1;
//     transform: translateY(0%);
//   }
// }

// LCDQ LOGO SVG
.lcdq-svg {
  width: 36px;
  height: 76px;
  margin: 1rem auto;

  @include screen-sm {
    // width: 300px;
    height: 100px;
    height: 200px;
    width: 66px;
    margin: 0 auto 2rem;
  }
}

// NEWS
.news__container {
  @include screen-sm {
    position: sticky;
    top: 1rem;
  }
}

.news__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 360px;
  margin: 0 auto;
  padding: 0 1rem;
  h2 {
    color: $color-secondary-dark;
    font-weight: bold;
    margin: 0 1rem 0 0;
  }
  &__line {
    background: $color-secondary;
    height: 3px;
    flex: 1;
    display: block;
    border-radius: 10px;
  }
}

.news__list {
  max-width: 360px;
  margin: 0 auto;
}

.news__card {
  background: $color-secondary-light;
}

// TODAYS SPECIAL
.todays-special__card {
  background: $color-primary-dark;
  margin-top: 2rem;
  &__title {
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  svg {
    width: 30px;
    height: 30px;
    fill: $white;
    margin: 0 0 0 1rem;
  }
}

// EVENTS
.events {
  margin: 1rem auto;
  &__container-label {
    color: $white;
    font-weight: bold;
    background: $color-primary;
    padding: 1rem 0;
    margin: 0 0 1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;

    @include screen-sm {
      border-radius: 4px;
    }
  }
}

.event-day {
  margin: 0 auto 2rem;
}

.events__label {
  position: sticky;
  top: 0;
  z-index: $zindex-events-label;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  padding: 0.4rem 1rem;

  @include screen-sm {
    top: 1rem;
  }
  h2 {
    color: $color-primary-dark;
    font-weight: bold;
    margin: 0 1rem 0 0;
  }
  &__line {
    background: $color-primary-dark;
    height: 3px;
    flex: 1;
    display: block;
    border-radius: 10px;
  }
}

.events__card {
  background: $color-primary-light;
  &__title {
    color: $color-primary-dark;

    small {
      margin-top: 0.2rem;
    }
  }
}

// SOCIAL
.social {
  display: none;
  @include screen-md {
    display: block;
    height: 100%;
  }
  &__container {
    position: sticky;
    top: 1rem;
    z-index: 1;
    margin: 200px auto 0;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    // &:hover {
    //   .social__link {
    //     width: auto;
    //   }
    // }
  }
  &__link {
    // // width: 0;
    // overflow: hidden;
    // display: inline;
    // transition: 0.4s ease-in;
    color: $color-primary;
    font-size: 4rem;
    transition: 0.2s ease-in;
    &:hover {
      color: $color-primary-light;
    }
  }
  &__icon {
  }
}

.triangle-blue--large {
  // display: block;
  display: none;
  transform: rotate(185deg);
  padding: 0rem 0 15rem;
}
