<ion-header-component [headerTitle]="HEADER_TITLE"></ion-header-component>
<!-- <ion-content [@fadeInAnimationView]="isOpen ? 'open' : 'closed'"> -->
<ion-content>
	<ion-grid class="ion-no-padding home-page-grid">
		<!-- SQUARED TITLE -->
		<ion-row class="ion-hide-md-down">
			<ion-col>
				<squared-shapes-svg
					[title]="TITLE"
					class="squared-shapes"
				></squared-shapes-svg>
			</ion-col>
		</ion-row>

		<!-- LA CLE DU QUAI -->
		<ion-row>
			<ion-col size="12" class="title__container">
				<triangle-blue-svg
					[fill]="'primary-light'"
					class="triangle-blue--small"
				></triangle-blue-svg>
				<triangle-yellow-svg
					[fill]="'secondary-light'"
					class="triangle-yellow--small"
				></triangle-yellow-svg>
				<lacleduquai-logo-svg
					class="lcdq-svg ion-hide-md-up"
				></lacleduquai-logo-svg>
				<h2 class="main-title ion-hide-md-up">{{TITLE}}</h2>
				<div class="word-carousel--vertical">
					<div>
						<ul class="word-switch">
							<li class="word" *ngFor="let word of descriptionWords">
								{{word}}
							</li>
						</ul>
					</div>
				</div>
			</ion-col>
		</ion-row>

		<!-- MAIN -->
		<ion-row>
			<!-- NEWS -->
			<ion-col class="news" size="12" size-md="4">
				<div class="news__label">
					<h2>Nouveautés</h2>
					<span class="news__label__line"></span>
				</div>
				<div class="news__list">
					<ion-card
						[routerLink]="news.link"
						*ngFor="let news of newsList"
						class="news__card"
					>
						<ion-card-header>
							<ion-card-title
								color="medium"
								class="ion-text-center news__card__title"
							>
								{{news.label}}</ion-card-title
							>
						</ion-card-header>
					</ion-card>

					<!-- MENU DU JOUR -->
					<ion-card routerLink="/lcdq/cafe" class="todays-special__card">
						<ion-card-header>
							<ion-card-title
								class="ion-text-center todays-special__card__title"
								>Menu du jour</ion-card-title
							>
						</ion-card-header>
					</ion-card>
				</div>
			</ion-col>

			<!-- EVENTS -->
			<ion-col
				class="events"
				size="12"
				size-sm="8"
				offset-sm="2"
				size-md="4"
				offset-md="0"
			>
				<lacleduquai-logo-svg
					class="lcdq-svg ion-hide-md-down"
				></lacleduquai-logo-svg>
				<div class="event-day" *ngFor="let day of dailyEvents">
					<div class="events__label">
						<h2>{{eventLabel(day.date)}}</h2>
						<span class="events__label__line"></span>
					</div>
					<div class="events__list">
						<ion-card *ngFor="let event of day.events" class="events__card">
							<ion-card-header>
								<ion-card-title
									color="medium"
									class="ion-text-center events__card__title"
								>
									{{event.label}} - {{event.intervenant}}
									<small class="display-block"
										>{{event.schedule}}
										<ion-text color="light">|</ion-text> {{event.price |
										currency}}
										<ion-text color="light">|</ion-text> {{event.phone}}</small
									>
								</ion-card-title>
							</ion-card-header>
						</ion-card>
					</div>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
