@import '../../../styles/tools/variables';
@import '../../../styles/tools/mixins';

// MAIN GRID
// .home-page-grid {
//   @include screen-sm {
//     overflow: hidden;
//     height: calc(100vh - 56px - 57px); // viewport height - header - footer
//   }
// }

.logo-container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  animation: fadeInLogo 1s ease-in;
}

// TITLE AND LOGO
.title__container {
  position: relative;

  .triangle-blue--small {
    position: absolute;
    top: -250px;
    left: -20%;
    z-index: -1;
    width: 180px;
    height: 340px;

    @include screen-sm {
      top: -250px;
      left: 20%;
    }
  }
  .triangle-yellow--small {
    position: absolute;
    top: 50px;
    left: 60%;
    z-index: -1;
    width: 250px;
    height: 190px;

    @include screen-sm {
      top: 50px;
      left: 60%;
    }
  }
}

.main-title {
  color: #737373;
  font-family: $fontOswald;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

// WORD CAROUSSEL
.word-carousel--vertical {
  margin: 0;
  font-size: 36px;
  font-weight: 100;
  color: $color-gray;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  // animation: slideInTitle 1s ease-in;
  p {
    margin: 0 0 1rem;
    margin: 0;
  }
  div {
    overflow: hidden;
    position: relative;
    height: 65px;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    .word-switch {
      animation: switch 15s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
      margin-top: -30px;
      padding: 0;
      .word {
        display: block;
        text-align: center;
        font-family: $fontPoppins;
        color: $color-primary;
        font-weight: 700;
        padding: 0 10px;
        height: 45px;
        margin-top: 45px;
        font-size: 1.6rem;

        @include screen-sm {
          font-size: inherit;
        }
      }
    }
  }
}

@keyframes switch {
  0% {
    margin-top: -1020px;
  }
  8.3% {
    margin-top: -930px;
  }
  16.6% {
    margin-top: -840px;
  }
  24.9% {
    margin-top: -750px;
  }
  33.2% {
    margin-top: -660px;
  }
  41.5% {
    margin-top: -570px;
  }
  49.8% {
    margin-top: -480px;
  }
  58.1% {
    margin-top: -390px;
  }
  66.4% {
    margin-top: -300px;
  }
  74.7% {
    margin-top: -210px;
  }
  85% {
    margin-top: -120px;
  }
  93.3% {
    margin-top: -30px;
  }
  99.99% {
    margin-top: -30px;
  }
  100% {
    margin-top: -1020px;
  }
}

// @keyframes fadeInLogo {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

// @keyframes slideInTitle {
//   0% {
//     opacity: 0;
//     transform: translateY(-10%);
//   }
//   100% {
//     opacity: 1;
//     transform: translateY(0%);
//   }
// }

// LCDQ LOGO SVG
.lcdq-svg {
  width: 36px;
  height: 76px;
  margin: 1rem auto;

  @include screen-sm {
    // width: 300px;
    height: 100px;
    margin: 0 auto 4rem;
  }
}

// NEWS
.news__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 360px;
  margin: 0 auto;
  padding: 0 1rem;
  h2 {
    color: $color-secondary-dark;
    font-weight: bold;
    margin: 0 1rem 0 0;
  }
  &__line {
    background: $color-secondary;
    height: 3px;
    flex: 1;
    display: block;
    border-radius: 10px;
  }
}

.news__list {
  max-width: 360px;
  margin: 0 auto;
}

.news__label {
}

.news__card {
  background: $color-secondary-light;
  &__title {
    // color: $grey-light;
  }
}

// TODAYS SPECIAL
.todays-special__card {
  background: $color-primary-dark;
  margin-top: 2rem;
  &__title {
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  svg {
    width: 30px;
    height: 30px;
    fill: $white;
    margin: 0 0 0 1rem;
  }
}

// EVENTS
.events {
  margin: 1rem auto;

  // @include screen-sm {
  //   height: 490px;
  //   overflow-y: scroll;
  //   margin-right: -20px;
  //   transform: translateX(17px);
  // }
}

.event-day {
  margin: 0 auto 2rem;
}

.events__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  h2 {
    color: $color-primary-dark;
    font-weight: bold;
    margin: 0 1rem 0 0;
  }
  &__line {
    background: $color-primary-dark;
    height: 3px;
    flex: 1;
    display: block;
    border-radius: 10px;
  }
}

.events__card {
  background: $color-primary-light;
  &__title {
    color: $color-primary-dark;
  }
}

// SOCIAL ICONS

.triangle-blue--large {
  display: block;
  transform: rotate(185deg);
  padding: 0rem 0 15rem;
}
