<ion-header-component [headerTitle]="HEADER_TITLE"></ion-header-component>
<ion-content [@fadeInAnimationView]="isOpen ? 'open' : 'closed'">
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="logo-container">
            <lacleduquai-logo-svg></lacleduquai-logo-svg>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div class="word-carousel--vertical">
            <p class="font-oswald">La Clé Du Quai</p>
            <div>
              <ul class="word-switch">
                <li *ngFor="let word of descriptionWords">{{word}}</li>
              </ul>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
      <ion-col>
        <div [@openClose]="isOpen ? 'open' : 'closed'" class="square"></div>
      </ion-col>

    </ion-row> -->
      <ion-button (click)="onAnimate()">Click</ion-button>
      <ion-row>
        <!-- <ion-col @flashInfoAnimation> -->
        <ion-col size="12" size-sm="6" offset-sm="3">
          <div class="flash-info">
            <ion-card class="ion-card--first">
              <ion-card-content>
                <!-- pager="true" -->
                <ion-slides #ionSlides [options]="slideOpts">
                  <!-- [options]="slideOpts" -->
                  <ion-slide>
                    <ion-text
                      ><p class="card-title primary">
                        Bienvenue sur notre application !
                      </p>
                    </ion-text>
                  </ion-slide>
                  <ion-slide>
                    <p>
                      Retrouvez les différents axes de développement et
                      différents événements de l'association.
                    </p>
                  </ion-slide>
                  <ion-slide>
                    <p>
                      Accédez au calendrier et faites vos demandes de
                      réservations directement via nos formulaires.
                    </p>
                  </ion-slide>
                </ion-slides>
              </ion-card-content>
            </ion-card>
            <!-- <ion-card color="primary">
            <ion-card-content>
              <span class="bold"> Reprise des cours cette semaine.</span><br />
            </ion-card-content>
          </ion-card> -->
            <ion-card class="ion-card--second">
              <ion-card-header class="ion-card-header">
                <ion-text class="card-title secondary">Nouveauté</ion-text>
              </ion-card-header>
              <ion-card-content>
                <span class="bold">Coworking</span> de 10h à 13h.<br />
              </ion-card-content>
            </ion-card>
          </div>
          <ion-card color="secondary"></ion-card>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
      <ion-col size="12" size-md="6" offset-md="3">
        <div>Evénements</div>

        <ul>
          <p>Aujourd'hui</p>
          <li *ngFor="let card of cardEvents">
            <ion-card class="ion-no-margin">
              <ion-card-header
                class="ion-no-padding ion-padding-horizontal ion-padding-top"
              >
                <ion-card-subtitle>Danse contemporaine</ion-card-subtitle>
                <!-- <ion-card-title>Card Title</ion-card-title> -->
      <!-- </ion-card-header>
              <ion-card-content class="ion-card-content">
                <ion-text>avec Jean-Luc - 12h30-13h40</ion-text>
                <ion-button
                  size="small"
                  fill="outline"
                  (click)="onOpenPopover($event)"
                >
                  <ion-icon
                    color="primary"
                    slot="icon-only"
                    name="add-outline"
                  ></ion-icon>
                </ion-button>
              </ion-card-content>
            </ion-card>
          </li>
        </ul>
      </ion-col>
    </ion-row> -->
    </ion-grid>

    <div></div>
  </ion-content>
</ion-content>
