@import '../../../styles/tools/variables';
@import '../../../styles/tools/mixins';

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

ion-content {
  background-image: url('../../../assets/img/cafe-lcdq-inside.jpg');
  background-size: cover;
}

.todays-special {
  display: flex;
  height: 400px;
  width: calc(100% - 2rem);
  margin: 0 auto;
  color: $white;
  border-radius: 8px;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.7);
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(../../../assets/img/ChalkboardPaperPlainPortrait.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: rotate(-3deg);
  @include screen-sm {
    width: 400px;
    height: 500px;
  }

  &__main-course {
    p {
      line-height: 1;
    }
  }
  p {
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
  }
}
