@use "sass:color";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

///////////
// COLORS
///////////

$white: #ffffff;
$black: #000000;

$jaggedIce: #ceecea;
$fountainblue: #5dbeba;
$oracle: #3d827f;

$butterMilk: #fff4b0;
$schoolbusyellow: #ffde00;
$corn: #eacd00;

$cod-gray: #191919;

$red: #f44336;

// PRIMARY
$color-primary: $fountainblue;
$color-primary-light: $jaggedIce;
$color-primary-dark: $oracle;

// SECONDARY
$color-secondary: $schoolbusyellow;
$color-secondary-light: $butterMilk;
$color-secondary-dark: $corn;

// GRAY
$color-gray: $cod-gray;
$grey-light: color.scale($cod-gray, $lightness: 70%);
$grey-dark: darken($cod-gray, 0.5);

$color-warning: $red;
//////////
// FONTS
//////////

// Roboto
$fontPoppins: 'Poppins', 'Roboto', sans-serif;

$fontOswald: 'Oswald', 'Roboto', sans-serif;

////////////////
// FONT SIZE
////////////////

$font-size-sm: 0.8rem;
$font-size-xs: 0.6rem;
$font-size-base: 1rem;

////////////////
// FONT WEIGHT
////////////////

$fontWeightLight: 300;
$fontWeightBase: 400;
$fontWeightSemi: normal;
$fontWeightBold: bold;
$fontWeightBolder: bolder;

/////////////////
// Z-INDEX
/////////////////
$zindex-header: 50;
$zindex-modal: 100;
$zindex-events-label: 10;

/////////////////
// SCREEN SIZES
/////////////////

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
