<div class="ion-page">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>{{event.name}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Event info -->
  <ion-content class="ion-padding">
    <form class="event-edition-form" [formGroup]="eventEditionForm" (ngSubmit)="onSubmit()">
      <ion-list>
        <!-- Name -->
        <ion-item>
          <ion-label position="floating">Nom</ion-label>
          <ion-input type="text" name="name" formControlName="name" required></ion-input>
        </ion-item>
        <p class="error-message" [ngClass]="
						eventEditionForm.get('name').invalid &&
						eventEditionForm.get('name').touched
							? 'show-error'
							: ''
					">
          Veuillez renseigner un nom
        </p>

        <!-- Prof -->
        <ion-item>
          <ion-label position="floating">Intervenant</ion-label>
          <ion-input clearInput="true" type="text" name="prof" formControlName="prof" required></ion-input>
        </ion-item>
        <p class="error-message"
          [ngClass]="eventEditionForm.get('prof').invalid && eventEditionForm.get('prof').touched ? 'show-error' : ''">
          Veuillez renseigner un intervenant
        </p>

        <!-- Schedule -->
        <ion-item>
          <ion-label>Horaire début</ion-label>
          <ion-datetime displayFormat="HH:mm" [value]="eventEditionForm.get('timeStart').value"
            (ionChange)="onTimeFromChange($event)"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Horaire fin</ion-label>
          <ion-datetime displayFormat="HH:mm" [value]="eventEditionForm.get('timeEnd').value"
            (ionChange)="onTimeToChange($event)"></ion-datetime>
        </ion-item>

        <!-- Price -->
        <ion-item>
          <ion-label position="floating">Prix</ion-label>
          <ion-input type="number" min="0" name="price" formControlName="price" required></ion-input>
        </ion-item>
        <p class="error-message"
          [ngClass]="eventEditionForm.get('price').invalid && eventEditionForm.get('price').touched ? 'show-error' : ''">
          Veuillez renseigner un prix
        </p>

        <!-- Phone -->
        <ion-item>
          <ion-label position="floating">Téléphone</ion-label>
          <ion-input type="number" minlength="10" name="phone" formControlName="phone" required></ion-input>
        </ion-item>
        <p class="error-message"
          [ngClass]="eventEditionForm.get('phone').invalid && eventEditionForm.get('phone').touched ? 'show-error' : '' ">
          Veuillez renseigner un numéro de téléphone
        </p>

        <!-- Description -->
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-textarea rows="6" cols="20" maxlength="500" formControlName="description" required>
          </ion-textarea>
        </ion-item>
        <p class="error-message"
          [ngClass]="eventEditionForm.get('description').invalid && eventEditionForm.get('description').touched ? 'show-error' : ''">
          Veuillez renseigner une description
        </p>

        <!-- LINK TYPE -->
        <ion-item lines="none" class="slide-toggle__section">
          <ion-label>Type de lien </ion-label>
        </ion-item>
        <div class="slide-toggle__container">
          <ion-text [color]="isExternalLink ? '' : 'primary'">Interne</ion-text>
          <ion-toggle class="slide-toggle__input" [color]="isExternalLink ? 'secondary' : 'primary'"
            formControlName="externalLink" (ionChange)="toggleLinkType($event)">
          </ion-toggle>
          <ion-text [color]="isExternalLink ? 'secondary' : ''">Externe</ion-text>
        </div>

        <!-- INTERNAL LINK -->
        <ion-item *ngIf="!isExternalLink">
          <ion-label position="floating">Lien</ion-label>
          <ion-select formControlName="link" interface="popover">
            <ion-select-option *ngFor="let link of internalLinks; let i = index">/lcdq/{{link}}</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- EXTERNAL LINK -->
        <ion-item *ngIf="isExternalLink">
          <ion-label position="floating">Lien</ion-label>
          <ion-input type="text" name="link" formControlName="link" required></ion-input>
        </ion-item>
        <p *ngIf="isExternalLink" class="error-message"
          [ngClass]="eventEditionForm.get('link').invalid && eventEditionForm.get('link').touched ? 'show-error' : ''">
          Veuillez renseigner un lien
        </p>

        <!-- Event Dates -->
        <mat-form-field appearance="fill" class="form__calendar">
          <mat-label>Sélectionnez une/des date(s) :</mat-label>
          <mat-chip-list #chipList aria-label="Choisir une date" (click)="picker.open()">
            <mat-chip *ngFor="let value of dates" [selectable]="false" [removable]="true" (removed)="remove(value)">
              {{ value | date }}
              <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
            </mat-chip>
            <input matInput placeholder="Choisir une date" [value]="resetDates" [matDatepicker]="picker" [min]="minDate"
              [max]="maxDate" [matChipInputFor]="chipList" (dateChange)="dateChanged($event)" required hidden />
          </mat-chip-list>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker [startAt]="init" [dateClass]="dateClass"></mat-datepicker>
        </mat-form-field>
      </ion-list>
    </form>
  </ion-content>
  <!-- CTAs -->
  <div class="ion-padding btn__container">
    <ion-button color="danger" (click)="onOpenDeleteModal()">
      Supprimer
    </ion-button>
    <ion-button color="warning" (click)="onCancel()">Annuler</ion-button>
    <ion-button [disabled]="eventEditionForm.invalid" color="primary" (click)="onSubmit()">
      Modifier
    </ion-button>
  </div>
</div>