@import '../../../styles/tools/variables';
@import '../../../styles/tools/mixins';

:host {
  position: relative;
  display: block;
  height: 70px;

  @include screen-md {
    height: auto;
  }
}

.title {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: $fontOswald;
  font-size: 1.5rem;
  color: $color-primary-dark;

  @include screen-md {
    top: 30px;
    font-size: 3rem;
  }
}

svg {
  width: 100%;
  height: 100%;
}
