<ion-header-component [headerTitle]="HEADER_TITLE"></ion-header-component>

<ion-content>
	<ion-grid class="ion-no-padding">
		<!-- HERO -->
		<ion-row class="hero">
			<ion-col>
				<belaetcome-logo-svg class="belaetcome-logo"></belaetcome-logo-svg>
			</ion-col>
		</ion-row>

		<!-- TITLE -->
		<ion-row class="title">
			<ion-col>
				<squared-shapes-svg
					[title]="HEADER_TITLE"
					class="squared-shapes"
				></squared-shapes-svg>
			</ion-col>
		</ion-row>

		<!-- MAIN TEXT -->
		<ion-row class="ion-padding">
			<ion-col size="12" size-sm="6" offset-sm="3">
				<p>
					Créée en 2013, son mode d’expression emprunte à la danse contemporaine
					et au théâtre pour, dans chaque projet, mettre la parole en mouvement
					et faire parler les corps. Elle développe actuellement sa sixième
					création, FURIOSA. Ce que nous recherchons avant tout, c’est la
					qualité d’un mouvement plutôt que sa forme. Et cette qualité, la force
					de ce que ce mouvement pourra transmettre, peut se construire soit
					dans le geste dansé technique, soit dans l’approche sensible du
					personnage incarné.
				</p>
			</ion-col>
		</ion-row>

		<!-- WEBSITE BUTTON -->
		<ion-row class="ion-padding-horizontal ion-margin-bottom">
			<ion-col size="12" size-sm="6" offset-sm="3">
				<ion-button size="small" color="primary" expand="block"
					><a
						[href]="'https://belaetcome.com'"
						target="_blank"
						class="btn__text"
						>{{'Vers le site' | uppercase }}</a
					></ion-button
				>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
