<ion-header-component [headerTitle]="HEADER_TITLE"></ion-header-component>

<ion-content>
  <ion-text>
    <h1>Compagnie Bela & Côme</h1>
  </ion-text>

  <p>
    Créée en 2013, son mode d’expression emprunte à la danse contemporaine et au
    théâtre pour, dans chaque projet, mettre la parole en mouvement et faire
    parler les corps. Elle développe actuellement sa sixième création, FURIOSA.
    Ce que nous recherchons avant tout, c’est la qualité d’un mouvement plutôt
    que sa forme. Et cette qualité, la force de ce que ce mouvement pourra
    transmettre, peut se construire soit dans le geste dansé technique, soit
    dans l’approche sensible du personnage incarné.
  </p>
</ion-content>
