<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accueil">
      <ion-label>Accueil</ion-label>
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="cafe">
      <ion-label>Café</ion-label>
      <ion-icon name="cafe"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="reservation-salles">
      <ion-label>Studios</ion-label>
      <ion-icon name="calendar"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="a-emporter">
      <ion-label>Take Away</ion-label>
      <ion-icon name="bicycle"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="galerie">
      <ion-label>Galerie</ion-label>
      <ion-icon name="camera"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
