@import '../../../styles/tools/variables';
@import '../../../styles/tools/mixins';

// Description
.description-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1rem auto 0;
}
.description-item--icon {
  width: 20px;
  height: 20px;
  margin: 0 1rem 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.description-item--content {
  flex: 1;
}

// FORM
.residence-form {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.btn__container {
  display: flex;
  justify-content: center;
}
