<ion-header-component [headerTitle]="HEADER_TITLE"></ion-header-component>

<ion-content>
  <ion-grid class="ion-no-padding">
    <!-- TITLE -->
    <ion-row>
      <ion-col>
        <squared-shapes-svg [title]="TITLE" class="squared-shapes"></squared-shapes-svg>
      </ion-col>
    </ion-row>

    <!-- DESCRIPTION -->
    <ion-row class="ion-padding">
      <ion-col size="12" size-sm="6" offset-sm="3">
        <div class="description-container">
          <ul class="description">
            <li class="description-item">
              <two-triangle-svg class="description-item--icon"></two-triangle-svg>
              <p class="description-item--content">
                Pour les artistes et compagnies du spectacle vivant, plus
                spécifiquement en danse contemporaine et en théâtre, en priorité
                aux compagnies et artistes installés dans la région bordelaise.
              </p>
            </li>
            <li class="description-item">
              <two-triangle-svg class="description-item--icon"></two-triangle-svg>
              <p class="description-item--content">
                Accueil en résidence pendant 5 jours, du lundi au vendredi, 9h à
                16h.
              </p>
            </li>
            <li class="description-item">
              <two-triangle-svg class="description-item--icon"></two-triangle-svg>
              <p class="description-item--content">
                Possibilité d’accompagnement artistique avec les membres de la
                Cie Bela & Côme - Bela Balsa et Côme Tanguy.
              </p>
            </li>
            <li class="description-item">
              <two-triangle-svg class="description-item--icon"></two-triangle-svg>
              <p class="description-item--content">
                Présentation en fin de semaine auprès d’un public restreint
                d’une étape de travail, extrait, lecture, selon l’envie des
                artistes.
              </p>
            </li>
            <li class="description-item">
              <two-triangle-svg class="description-item--icon"></two-triangle-svg>
              <p class="description-item--content">
                L’espace de travail est de 50m2 et ne permet pas d’accueillir de
                grands groupes.<br />
              </p>
            </li>

            <li class="description-item">
              <two-triangle-svg class="description-item--icon"></two-triangle-svg>
              <p class="description-item--content">Pas de technique lumière.</p>
            </li>

            <li class="description-item">
              <two-triangle-svg class="description-item--icon"></two-triangle-svg>
              <p class="description-item--content">
                Possibilité de stocker, le temps de la résidence, une très
                petite quantité de matériel.
              </p>
            </li>
          </ul>
        </div>
      </ion-col>
    </ion-row>

    <!--  -->
    <ion-row class="row ion-padding">
      <ion-col size="12" size-sm="6" offset-sm="3">
        <div>
          Merci de compléter le formulaire pour que nous commencions à faire
          connaissance. Si vous ne disposez pas de certains éléments ou si nos
          questions ne correspondent pas du tout à ce que vous faites, pas de
          soucis, adaptez... Rien n'est définitif ni exhaustif.
        </div>
      </ion-col>
    </ion-row>

    <!-- FORM -->
    <ion-row class="row">
      <ion-col size="12" size-sm="4" offset-sm="4" class="ion-no-padding">
        <ion-card class="ion-no-margin ion-margin-vertical">
          <ion-card-content>
            <!-- Loader -->
            <loader *ngIf="isLoading"></loader>
            <!-- Message fail -->
            <div *ngIf="!isLoading && isFormFailed && !isFormSent" class="message-sent message-sent--fail">
              <ion-text color="danger">
                <p class="ion-text-center message-sent__content">Votre message n'a pas pu être envoyé. Veuillez
                  réessayer.</p>
              </ion-text>
              <div class="btn__container ion-margin-vertical">
                <ion-button (click)="onReload()">{{RELOAD}}</ion-button>
              </div>
            </div>
            <!-- Message success -->
            <div *ngIf="!isLoading && isFormSent" class="message-sent message-sent--success">
              <ion-text color="primary">
                <p class="ion-text-center message-sent__content">
                  Merci, votre demande a bien été envoyée. Nous vous répondrons le
                  plus tôt possible.
                </p>
              </ion-text>
              <div class="btn__container ion-margin-vertical">
                <ion-button (click)="onNavigateHome()">{{HOME_BTN_TEXT}}</ion-button>
              </div>
            </div>

            <!-- Residence Form -->
            <form *ngIf="!isLoading && !hideForm" class="residence-form" [formGroup]="residenceForm"
              (ngSubmit)="onSubmit()">
              <ion-list>
                <!--  Project Name -->
                <ion-item>
                  <ion-label position="floating">Nom du projet<atom-asterisk></atom-asterisk>
                  </ion-label>
                  <ion-input type="text" name="projectName" formControlName="projectName" required></ion-input>
                </ion-item>
                <p class="error-message"
                  [ngClass]="residenceForm.get('projectName').invalid && residenceForm.get('projectName').touched ? 'show-error' : ''">
                  Veuillez renseigner un nom de projet
                </p>

                <!-- Company Name -->
                <ion-item>
                  <ion-label position="floating">Nom de la compagnie<atom-asterisk></atom-asterisk>
                  </ion-label>
                  <ion-input type="text" name="companyName" formControlName="companyName" required></ion-input>
                </ion-item>
                <p class="error-message"
                  [ngClass]="residenceForm.get('companyName').invalid && residenceForm.get('companyName').touched ? 'show-error' : ''">
                  Veuillez renseigner le nom de la compagnie
                </p>

                <!-- Manager Name -->
                <ion-item>
                  <ion-label position="floating">Nom de la personne qui gère cette candidature<span
                      class="label-asterisk">*</span></ion-label>
                  <ion-input type="text" name="managerName" formControlName="managerName" required></ion-input>
                </ion-item>
                <p class="error-message"
                  [ngClass]="residenceForm.get('managerName').invalid && residenceForm.get('managerName').touched ? 'show-error' : ''">
                  Veuillez renseigner votre nom
                </p>

                <!-- Email -->
                <ion-item>
                  <ion-label position="floating">E-mail<atom-asterisk></atom-asterisk>
                  </ion-label>
                  <ion-input type="email" name="email" formControlName="email" required></ion-input>
                </ion-item>
                <p class="error-message"
                  [ngClass]="residenceForm.get('email').invalid && residenceForm.get('email').touched ? 'show-error' : ''">
                  Veuillez renseigner votre email
                </p>

                <!-- Phone -->
                <ion-item>
                  <ion-label position="floating">Téléphone<atom-asterisk></atom-asterisk>
                  </ion-label>
                  <ion-input type="text" name="phone" formControlName="phone" required></ion-input>
                </ion-item>
                <p class="error-message"
                  [ngClass]="residenceForm.get('phone').invalid && residenceForm.get('phone').touched ? 'show-error' : ''">
                  Veuillez renseigner un numéro de téléphone
                </p>

                <!-- Address -->
                <ion-item>
                  <ion-label position="floating">Adresse de gestion de la structure<atom-asterisk></atom-asterisk>
                  </ion-label>
                  <ion-input type="text" name="address" formControlName="address" required></ion-input>
                </ion-item>
                <p class="error-message"
                  [ngClass]="residenceForm.get('address').invalid && residenceForm.get('address').touched ? 'show-error' : ''">
                  Veuillez renseigner une adresse
                </p>

                <!-- Project Description -->
                <ion-item>
                  <ion-label position="floating">Quelques mots sur votre projet<atom-asterisk></atom-asterisk>
                  </ion-label>
                  <ion-input type="text" name="projectDescription" formControlName="projectDescription">
                  </ion-input>
                </ion-item>
                <p class="error-message"
                  [ngClass]="residenceForm.get('projectDescription').invalid && residenceForm.get('projectDescription').touched ? 'show-error' : ''">
                  Veuillez renseigner une description
                </p>

                <!-- VIDEO LINK -->
                <ion-item>
                  <ion-label position="floating">
                    Un lien vidéo vers un projet actuel ou passé ?</ion-label>
                  <ion-input name="videoLink" formControlName="videoLink"></ion-input>
                </ion-item>

                <!-- WEBSITE -->
                <ion-item>
                  <ion-label position="floating">Site internet</ion-label>
                  <ion-input name="website" formControlName="website"></ion-input>
                </ion-item>

                <!-- PARTNERS -->
                <ion-item>
                  <ion-label position="floating">Des partenaires ou soutiens ?
                  </ion-label>
                  <ion-input name="partners" formControlName="partners"></ion-input>
                </ion-item>

                <!-- Location -->
                <ion-radio-group class="radio-group" aria-label="Région" formControlName="location">
                  <ion-list-header>
                    <ion-label>Vous êtes installé dans quel coin ?<atom-asterisk></atom-asterisk>
                    </ion-label>
                  </ion-list-header>
                  <ion-item lines="none" *ngFor="let location of locations">
                    <ion-label>{{ location }}</ion-label>
                    <ion-radio slot="start" [value]="location"> </ion-radio>
                  </ion-item>
                </ion-radio-group>

                <!-- Artistic Pratice -->
                <ion-list formArrayName="artisticPractice">
                  <ion-list-header>
                    <ion-label>Votre pratique artistique<atom-asterisk></atom-asterisk>
                    </ion-label>
                  </ion-list-header>
                  <ion-item lines="none" *ngFor="let practice of artisticPracticeFormArray.controls; let i = index">
                    <ion-label>{{artisticPractices[i]}}</ion-label>
                    <ion-checkbox slot="start" [formControlName]="i"></ion-checkbox>
                  </ion-item>
                </ion-list>

                <!-- Availability -->
                <ion-list formArrayName="availability">
                  <ion-list-header>
                    <ion-label>Sur quelles périodes êtes-vous disponibles pour
                      travailler chez nous ?<atom-asterisk></atom-asterisk>
                    </ion-label>
                  </ion-list-header>
                  <ion-item lines="none" *ngFor="let availability of availabilityFormArray.controls; let i = index">
                    <ion-label>{{ availabilities[i] }}</ion-label>
                    <ion-checkbox slot="start" [formControlName]="i" [disabled]="i === 0 || i === 1 || i === 2"></ion-checkbox>
                  </ion-item>
                </ion-list>
                <p class="error-message"
                  [ngClass]="residenceForm.get('availability').invalid && residenceForm.get('availability').touched ? 'show-error' : ''">
                  Veuillez renseigner une disponibilité
                </p>

                <!-- Project Team -->
                <ion-list formArrayName="projectTeam">
                  <ion-list-header>
                    <ion-label>De qui l'équipe sera-t-elle constituée?</ion-label>
                  </ion-list-header>
                  <div *ngFor="let teamMember of projectTeamFormArray.controls; let i = index">
                    <ion-item>
                      <ion-label position="floating">Nom, prénom et fonction<atom-asterisk></atom-asterisk>
                      </ion-label>
                      <ion-input type="text" name="projectTeam" [formControlName]="i" required></ion-input>
                    </ion-item>
                    <p class="error-message" [ngClass]="teamMember.invalid && teamMember.touched ? 'show-error' : ''">
                      Veuillez renseigner les informations
                    </p>
                    <ion-button *ngIf="projectTeamFormArray.controls.length > 1" fill="clear" size="small"
                      color="secondary" (click)="onRemoveTeamMember($event, i)">
                      Supprimer
                      <ion-icon slot="end" name="close-outline"></ion-icon>
                    </ion-button>
                  </div>
                  <div class="btn__container ion-margin-vertical">
                    <ion-button fill="clear" size="small" (click)="onAddTeamMember()">
                      Ajouter un membre d'équipe
                      <ion-icon slot="start" name="add-outline"></ion-icon>
                    </ion-button>
                  </div>
                </ion-list>

                <!-- Submit -->
                <div class="btn__container btn__container--submit">
                  <ion-button class="ion-margin-vertical" type="submit" color="primary"
                    [disabled]="residenceForm.invalid || isLoading">
                    <ion-icon *ngIf="!isLoading" slot="start" name="paper-plane-outline"></ion-icon>
                    <loader *ngIf="isLoading"></loader>
                    {{SEND_BUTTON_TEXT}}
                  </ion-button>
                </div>
              </ion-list>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>