<ion-header-component [headerTitle]="HEADER_TITLE"></ion-header-component>

<ion-content>
  <div>
    Accueil en résidence La Compagnie Bela & Côme - L’association La Clé du Quai
    propose des accueils en résidence pour les artistes et compagnies du
    spectacle vivant, et plus spécifiquement en danse contemporaine et en
    théâtre. Cet accueil en résidence s’adresse en priorité aux compagnies et
    artistes installés dans la région bordelaise. Cet accueil consiste en : mise
    à disposition du studio de danse sur une durée de cinq jours - lundi au
    vendredi, 9h à 16h prise en charge des repas du midi au sein du café pour
    les artistes sur le temps de la résidence possibilité d’accompagnement
    artistique avec les membres de la Cie Bela & Côme - Bela Balsa et Côme
    Tanguy, selon les besoins de la compagnie présentation auprès d’un public
    restreint d’une étape de travail, lecture, ... selon l’envie et les besoins
    des artistes L’espace de travail est de 50m2 et ne permet pas d’accueillir
    de grands groupes. Cela dépendra cependant de votre pratique et des éléments
    que vous choisissez de travailler pendant la résidence. Pas de technique
    lumière. Possibilité de stocker, le temps de la résidence, une très petite
    quantité de matériel. N'hésitez pas à partager l'info autour de vous !
  </div>
</ion-content>
