<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-label>Accueil</ion-label>
      <ion-icon name="cafe"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="pre-inscription">
      <ion-label>Pré Inscription</ion-label>
      <ion-icon name="create"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="a-emporter">
      <ion-label>Take Away</ion-label>
      <ion-icon name="bicycle"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="admin-login">
      <ion-label>Admin login</ion-label>
      <ion-icon name="log-in"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="admin">
      <ion-label>Admin</ion-label>
      <ion-icon name="star"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
