<ion-header-component
  [headerTitle]="HEADER_TITLE"
  [showBackButton]="true"
  [defaultTarget]="'/lcdq/reservation-salles'"
></ion-header-component>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p>
          Les espaces du café sont faits pour vous accueillir. Soit pour venir
          déguster un chaï, manger un morceau ou boire un verre, soit pour
          réunir votre association, retrouver vos adhérents, organiser des
          projets... Fêter un anniversaire ! Et pourquoi pas exposer sur nos
          murs ? Donner un concert ? Organiser une après-midi tricot... Toutes
          les activités sont les bienvenues. Selon votre projet, nous pouvons
          privatiser l'un de nos espaces, ou simplement vous réserver une table.
          Quoiqu'il en soit, parlez-en nous ! Soit en passant au café, soit en
          nous contactant par ici :
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-justify-content-center">
        <ion-nav-link
          class="text-center"
          [routerLink]="'/lcdq/contact'"
          routerDirection="forward"
        >
          <ion-button
            class="btn btn--nav"
            size="small"
            expand="block"
            color="primary"
          >
            Contact
          </ion-button>
        </ion-nav-link>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
