<ion-header-component [headerTitle]="HEADER_TITLE"></ion-header-component>

<ion-content>
  <div class="take-away__content">
    <p>Chaï à emporter !</p>
    <p>
      Sur ce second temps de confinement, nous vous proposons notre spécialité à
      emporter.
    </p>
    <p>
      Vous pouvez passer prendre un délicieux chaï au lait végétal à emporter le
      mardi et le jeudi entre 16h30 et 18h30 au 49 rue du Mirail, disponible aux
      formats que vous connaissez - petit (20cl -
      <span class="color-primary">2,50€</span>) ou grand (40cl -
      <span class="color-primary">4,50€</span>).
    </p>
    <p>
      <span class="color-primary"
        >On vous propose également 1 litre (<span class="color-primary">8€</span
        >) pour avoir un petit stock pour le matin ou le goûter.</span
      ><br />
      Ça se congèle aussi très bien ;)<br />
    </p>
    <p>Il suffit de commander...</p>
  </div>

  <chai-take-away></chai-take-away>
</ion-content>
