@import '../../../styles/tools/variables';
@import '../../../styles/tools/mixins';

.main-container {
  @include screen-sm {
    display: flex;
  }
}

// CHAI CARD
.chai-card__container {
  flex: 1;
}

.chai-card {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  background: $color-primary;
  color: $white;

  h2 {
    margin: 0 0 1rem;
    font-weight: bold;
  }

  &__content {
    margin: 0 0 1rem;
  }
}

// CHAI FORM COMPONENT
.chai-form {
  display: flex;
  flex: 1;
}

// IMAGE RIGHT
.take-away__image {
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/img/come-outside.jpg');
  background-repeat: no-repeat;
  background-position: -340px center;
  background-size: auto 100%;
}
