@import '../../../styles/tools/variables';
@import '../../../styles/tools/mixins';

.clipboard__container {
    display: flex;
    align-items: center;
    margin: 0 0 1rem 0;
    p {
      margin: 0 1rem 0 0;
    }
  }