////////////////////////////////
// BOX SIZING FOR ALL ELEMENTS
////////////////////////////////

*,
::before,
::after {
  box-sizing: border-box;
}

// We're using "em" as font-size/margin/padding unit
// It is set on the body font-size and varies depending on screen sizes
html {
  font-size: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-size: 0.8em;
  font-family: $fontPoppins, sans-serif;
  background: $white;

  @media (min-width: $screen-xs) {
    font-size: 0.9em;

    p {
      font-size: 0.9em;
    }
  }

  @media (min-width: $screen-sm) {
    font-size: 1em;

    p {
      font-size: 1em;
    }
  }
}

//////////
// RESET
//////////

html,
body,
div,
section,
main,
aside,
h1,
h2,
h3,
h4,
p,
ul,
li,
a,
span,
label,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  font-weight: $fontWeightBase;
  font-family: $fontPoppins;
}

.main-view-title {
  font-size: 4rem;
  font-family: $fontOswald;
}

// LINKS
a {
  text-decoration: none;
  border: none;
  outline: none;
  color: inherit;
  transition: 0.2s ease-in;
  cursor: pointer;
}

li {
  list-style: none;
}

///////////
// BUTTON
///////////
button,
.btn {
  outline: none;
  border: none;

  @media (min-width: $screen-xs) {
    font-size: 0.9em;
  }

  @media (min-width: $screen-sm) {
    font-size: 1em;
  }
}

// CANCELS OUTLINE INPUT
input,
button,
select,
textarea {
  &:focus {
    outline: none;
  }
}

///////////////////
// GLOBAL CLASSES
///////////////////
.hidden {
  display: none;
}

.mobile-hidden {
  display: none !important;

  @include screen-sm() {
    display: block !important;
  }
}

.display-block {
  display: block;
}

.display-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.full-height {
  height: 100%;
}

.text-center {
  text-align: center;
}

.color-primary {
  color: $color-primary;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: $fontWeightBold;
}

.title-xl {
  margin: 2rem auto !important;
  font-family: $fontOswald !important;
  font-size: 1.7rem !important;
  text-align: center !important;
  color: $color-primary-dark !important;

  @include screen-sm {
    font-size: 3rem !important;
  }
}

.spacer-horizontal {
  display: flex;
  padding: 0 1rem 1rem;
  justify-content: center;
  align-items: center;
  span {
    height: 3px;
    width: 170px;
    max-width: 300px;
    border-radius: 3px;
  }
  &--primary {
    span {
      background-color: $color-primary;
    }
  }
  &--secondary {
    span {
      background-color: $color-secondary;
    }
  }
}

.font-xs {
  font-size: $font-size-xs !important;
}

.font-sm {
  font-size: $font-size-sm !important;
}

.font-oswald {
  font-family: $fontOswald;
}

/////////////////////
// IONIC
/////////////////////
ion-card:focus {
  outline: 0;
  border: 0;
}

.modal-delete {
  --max-height: 200px;
  .btn__container {
    display: flex;
    justify-content: space-evenly;
  }
}

/////////////////////
// ANGULAR MATERIAL
/////////////////////

// .mat-expansion-panel-body {
//   padding: 0 !important;
// }

// Wraps the text for checkboxes

.mat-checkbox-layout {
  white-space: initial !important;
}

// // Override the radio buttons on the subscription page
// .deal-options__content {
//   .mat-radio-outer-circle {
//     border-color: $white;
//   }
// }

// Top align the checkboxes on the desired form
.mat-checkbox.mat-accent {
  .mat-checkbox-inner-container {
    margin: 2px 8px auto 0;
  }
}

// Mat Tabs
.mat-tab-header {
  margin: 0 auto;
}

// Mat Dialog
.mat-dialog__footer {
  display: flex;
  justify-content: space-between;
}

//////////
// HACKS
//////////

//CANCELS SAFARI INPUT ICON
input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

input:focus::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

//CANCELS INTERNET EXPLORER AND EDGE CLEAR INPUT ICON
input::-ms-clear {
  display: none;
}

//CANCELS THE YELLOW BACKGROUND COLOR ON INPUT AUTOFILL ON CHROME
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
